<div class="author-popover-content">
  <div class="author-pic" author-bg-img-style author="{{ username }}" ng-click="goToAuthor()"></div>
  <div class="popover-content-right">
    <div class="author-name"><a ng-click="goToAuthor()">{{ name }}</a></div>
    <div class="author-username"><a ng-click="goToAuthor()">@{{ username }}</a></div>
    <div class="author-follow">
      <button class="btn btn-primary btn-sm btn-follow" ng-if="!visitorName && visitorData.canFollow" login-required required-keys="'posting'" on-login-success="loginSuccess()" on-login-open="loginDialogOpened()" ng-disabled="loadingVisitor || vBlockControl"> {{ 'FOLLOW' | translate }}</button>
      <button class="btn btn-primary btn-sm btn-follow" ng-if="visitorName && visitorData.canFollow" login-required required-keys="'posting'" on-login-success="follow()"  on-login-open="loginDialogOpened()"  ng-disabled="loadingVisitor || vBlockControl"><i class="fa fa-spin fa-spinner fa-circle-o-notch" ng-if="vFollowing"></i> {{ 'FOLLOW' | translate }}</button>
      <button class="btn btn-primary btn-sm btn-unfollow" ng-if="visitorName && visitorData.canUnfollow" login-required required-keys="'posting'" on-login-success="unfollow()"  on-login-open="loginDialogOpened()" ng-disabled="loadingVisitor || vBlockControl"><i class="fa fa-spin fa-spinner fa-circle-o-notch" ng-if="vUnfollowing"></i> {{ 'UNFOLLOW' | translate }}</button>
      <button class="btn btn-primary btn-sm btn-mute" ng-if="visitorName && visitorData.canMute" login-required required-keys="'posting'" on-login-success="mute()"  on-login-open="loginDialogOpened()" ng-disabled="loadingVisitor || vBlockControl"><i class="fa fa-spin fa-spinner fa-circle-o-notch" ng-if="vMuting"></i> {{ 'MUTE' | translate }}</button>
      <button class="btn btn-primary btn-sm btn-unmute" ng-if="visitorName && visitorData.canUnmute" login-required required-keys="'posting'" on-login-success="unMute()"  on-login-open="loginDialogOpened()" ng-click="unMute()"><i class="fa fa-spin fa-spinner fa-circle-o-notch" ng-if="vUnmuting"></i> {{ 'UNMUTE' | translate }}</button>
    </div>
  </div>
  <br clear="all">
  <div class="author-bio">{{ bio }}</div>
</div>
