<nav class="navbar navbar-default app-navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"><img src="img/navbar-brand.png"></a>
    </div>
    <div class="collapse navbar-collapse">
      <div class="navbar-back" ng-class="{'hide-it': $root.navHistory.length===0}"><a ng-click="$root.goBack()" title="{{ 'GO_BACK' | __ }}"><i class="fa fa-chevron-circle-left"></i></a></div>
      <ul class="nav navbar-nav">
        <li class="dropdown filter-dropdown" ng-class="{'active': selectedSection==='filters'}">
          <a ng-click="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
             aria-expanded="false">{{ selectedFilterName|translate }} <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li ng-repeat="c in filters" ng-class="{'active': ($root.selectedFilter==c.name)}" data-key="{{ c.key }}">
              <a ng-click="filterClicked(c.name)">{{ c.key|translate }}</a>
            </li>
          </ul>
        </li>
        <li ng-class="{'active': selectedSection==='token-market'}"><a ng-click="tokenMarketClicked()">{{ 'TOKEN_MARKET' | __ }}</a></li>
        <li ng-class="{'active': selectedSection==='market-place'}"><a ng-click="marketPlaceClicked()">{{ 'MARKETPLACE' | translate }}</a></li>
      </ul>
      <form class="navbar-form navbar-left">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search for...">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
          </span>
        </div>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a ng-click="openSettings()" title="{{ 'SETTINGS' | translate }}"><i class="fa fa-cog"></i></a></li>
        <li><a ng-click="openLogin()" title="{{ 'LOGIN' | translate }}"><i class="fa fa-sign-in"></i></a></li>
      </ul>
    </div>
  </div>
</nav>
