<div class="post-floating-menu">
  <a class="box-btn btn-reblog" ng-class="{'reblogged': reblogged, 'reblogging': reblogging}" ng-click=""
     title="Reblog" login-required required-keys="'posting'" on-login-success="reblog()">
    <i ng-if="!reblogging" class="fa fa-retweet"></i>
    <i ng-if="reblogging" class="fa fa-spin fa-spinner fa-circle-o-notch"></i>
  </a>
  <a class="box-btn btn-share" ng-click="" uib-tooltip="Share">
    <i class="fa fa-external-link"></i>
  </a>
  <a class="box-btn btn-copy" ng-click="" uib-tooltip="Copy address">
    <i class="fa fa-clipboard"></i>
  </a>
  <a class="box-btn btn-flag" ng-click="" uib-tooltip="Flag">
    <i class="fa fa-flag"></i>
  </a>
</div>
