@import '../style/mixins';
@import '../style/colors';

.account-page {
  .page-header {
    display: flex;
    flex-wrap: wrap;
    height: 50px;

    .left-side {
      height: 50px;
      margin-right: 32px;
      width: 208px;
    }

    .right-side {
      flex-grow: 1;

      .account-menu {
        border-bottom: 1px solid $white-four;
        display: flex;
        height: 50px;

        .account-menu-items {
          display: flex;
          flex-shrink: 0;

          .menu-item {
            align-items: center;
            color: $steel-grey;
            display: flex;
            font-size: 16px;
            height: 50px;
            margin-right: 16px;
            padding: 0 16px;

            &.selected-item {
              border-bottom: 2px solid $dark-sky-blue;
              color: $dark-sky-blue;
              font-weight: 700;
            }
          }
        }

        .page-tools {
          align-items: center;
          display: flex;
          flex-grow: 1;
          justify-content: flex-end;
          padding-right: 18px;
        }
      }
    }
  }

  .page-inner {
    height: calc(100% - 50px);
    overflow-y: auto;

    .left-side {
      float: left;
      margin-right: 32px;
      width: 208px;

      .profile-area {
        padding: 16px 0 0 29px;

        .account-avatar {
          height: 128px;
          margin: 0 0 24px 0;
          position: relative;
          width: 128px;

          .user-avatar {
            border: 3px solid $duck-egg-blue;
            height: 128px;
            width: 128px;
          }

          .reputation {
            background: $dark-sky-blue;
            border-radius: 25px;
            bottom: 2px;
            color: $white;
            font-weight: 700;
            left: 0;
            line-height: 1em;
            padding: 4px 12px;
            position: absolute;
          }
        }

        .username {
          font-size: 18px;
          font-weight: 700;
          margin-bottom: 12px;

          @include themify(day) {
            color: $charcoal-grey;
          }
          @include themify(night) {
            color: $pinkish-grey;
          }

          &:before {
            content: '@';
          }
        }

        .vpower-line {
          background: $duck-egg-blue;
          height: 2px;
          margin-bottom: 8px;

          .vpower-line-inner {
            background: $dark-sky-blue;
            height: 2px;
          }
        }

        .vpower-percentage {
          color: $dark-sky-blue;
          cursor: default;
          flex-shrink: 0;
          font-size: 12px;
          font-weight: 500;
          margin-bottom: 22px;

          &:after {
            content: '%';
          }
        }

        .full-name {
          color: $dark-sky-blue;
          font-size: 18px;
          font-weight: 700;
          margin-bottom: 12px;
        }

        .about {
          color: $dark-sky-blue;
          margin-bottom: 24px;
          opacity: 0.5;
        }

        .account-prop {
          align-items: start;
          color: $steel-grey;
          cursor: default;
          display: flex;
          margin-bottom: 12px;
          word-break: break-all;

          .holder-tooltip {
            display: flex;
          }

          .mi {
            color: $silver;
            font-size: 16px;
            margin-right: 6px;
          }

          .active-votes-icon {
            align-items: center;
            background: $silver;
            border-radius: 50%;
            display: flex;
            height: 16px;
            justify-content: center;
            margin-left: 1px;
            width: 16px;

            @include themify(day) {
              color: $white;
            }

            @include themify(night) {
              color: $charcoal-grey;
            }
          }
        }

        .account-numbers {
          align-items: flex-start;
          display: flex;
          flex-wrap: wrap;
          margin-bottom: 12px;

          .account-prop {
            width: 88px;
          }
        }

        .website-link {
          color: $steel-grey;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          width: 180px;
        }

        .divider {
          height: 1px;
          margin-bottom: 24px;
          overflow: hidden;

          @include themify(day) {
            background: $white-four;
          }

          @include themify(night) {
            background: $dark-two;
          }
        }
      }
    }

    .right-side {
      float: right;
      margin-top: 12px;
      width: calc(100% - 240px);

      .account-cover {
        height: 134px;
        position: relative;
        width: calc(100% - 18px);

        .cover-image {
          background-color: $white-three;
          background-position: 50% 50%;
          background-repeat: no-repeat;
          background-size: cover;
          border-radius: 3px;
          height: 100%;
          position: absolute;
          width: 100%;
          z-index: 1;
        }

        .follow-controls-holder {
          position: absolute;
          right: 10px;
          top: 10px;
          z-index: 2;
        }
      }

      .top-posts-list {
        margin: 25px 0 29px 0;
        width: calc(100% - 18px);

        .top-posts-list-header {
          font-size: 18px;
          font-weight: 700;
          margin: 0 0 16px 0;
        }

        .top-posts-list-body {
          display: flex;
          justify-content: space-between;
          max-width: 750px;
          .top-posts-list-item {
            border: 1px solid $white-four;
            border-radius: 8px;
            height: 120px;
            width: 130px;

            .post-image {
              border-top-left-radius: 8px;
              border-top-right-radius: 8px;
              height: 77px;
              max-width: 100%;
              overflow: hidden;

              img {
                width: 100%;
              }
            }

            .post-content {
              align-items: center;
              display: flex;
              flex-direction: column;
              height: 38px;
              justify-content: space-evenly;
              margin-top: 2px;

              .post-title,
              .post-body {
                font-size: 11px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                width: 90%;
              }

              .post-title {
                color: $charcoal-grey;
                font-weight: 700;
              }

              .post-body {
                color: $steel-grey;
              }
            }
          }
        }
      }

      .entry-list {
        .entry-list-body.grid-view {
          align-content: stretch;
          display: flex;
          flex-wrap: wrap;
          justify-content: flex-start;
          padding-right: 10px;
        }
      }

      .wallet-section {
        .unclaimed-rewards {
          align-items: center;
          border-bottom: 1px solid $white-four;
          display: flex;
          padding: 8px 16px 19px 16px;

          .title {
            color: $steel-grey;
            font-size: 18px;
            font-weight: 700;
            margin-right: 17px;
          }

          .rewards {
            background-color: $dark-sky-blue;
            border-radius: 25px;
            color: $white;
            font-weight: 700;
            padding: 17px 24px;

            .reward-type {
              margin-right: 5px;
            }
          }
        }

        .funds {
          width: 390px;

          .fund {
            border-radius: 8px;
            padding: 16px 16px 0 16px;

            &.alternative {
              background: $white-three;
            }

            .fund-line {
              align-items: center;
              display: flex;
              padding-bottom: 16px;

              .fund-info {
                width: 30px;
                &:after {
                  align-items: center;
                  border: 2px solid $steel-grey;
                  border-radius: 50%;
                  color: $steel-grey;
                  content: 'i';
                  display: flex;
                  font-size: 12px;
                  height: 16px;
                  justify-content: center;
                  opacity: 0.5;
                  width: 16px;
                }
              }

              .fund-title {
                color: $charcoal-grey;
                font-size: 16px;
                font-weight: 500;
                width: 110px;
              }

              .fund-number {
                color: $dark-sky-blue;
                flex-grow: 1;
                font-size: 14px;
                font-weight: 500;
                text-align: right;
                width: 180px;

                &.delegated-shares,
                &.received-shares {
                  color: $steel-grey;
                }

                &.total-sp {
                  font-weight: 700;
                }
              }

              .fund-action {
                width: 40px;
              }
            }
          }
        }
      }
    }
  }
}
