@import '../style/mixins';
@import '../style/colors';
@import '~typeface-roboto-mono/index.css';
@import '~codemirror/lib/codemirror.css';

/* CodeMirror */
.react-codemirror2 {
  height: 100%;
}

.CodeMirror {
  font-family: 'Roboto Mono', sans-serif;
  font-size: 14px;
  height: 100%;
  line-height: 1.6em;
}

.CodeMirror-lines {
  padding-bottom: 100px;
}

/* CodeMirror day theme */
.cm-s-day.CodeMirror {
  background: transparent;
  color: $steel-grey;
}

.cm-s-day div.CodeMirror-selected {
  background: lighten($powder-blue, 5);
}

.cm-s-day span.cm-link {
  color: $dark-sky-blue;
}

.cm-s-day span.cm-header {
  font-size: 28px;
  font-weight: 700;

  &.cm-header-2,
  &.cm-header-3,
  &.cm-header-4,
  &.cm-header-5,
  &.cm-header-6 {
    font-weight: 700;
    margin-bottom: 0.7em;
  }

  &.cm-header-2 {
    font-size: 24px;
  }

  &.cm-header-3 {
    font-size: 20px;
  }

  &.cm-header-4 {
    font-size: 18px;
  }

  &.cm-header-5 {
    font-size: 16px;
  }

  &.cm-header-6 {
    font-size: 14px;
  }
}

.cm-s-day span.cm-tag {
  color: $dark-sky-blue;
}

.cm-s-day span.cm-url {
  color: $green1;
}

.cm-s-day.CodeMirror pre.CodeMirror-placeholder {
  color: lighten($steel-grey, 40);
}

.cm-s-day.CodeMirror .cm-matchhighlight {
  background-color: $green2;
}

.tag-select-options {
  font-family: 'Roboto Mono', sans-serif;
}

.compose-page {
  .editor-form,
  .preview-part {
    height: calc(100% - 50px);
    width: calc(50% - 2px);
  }

  .editor-form {
    float: left;

    .editor-toolbar {
      align-items: center;
      background: $white-three;
      border-bottom-right-radius: 22px;
      border-top-right-radius: 22px;
      display: flex;
      height: 44px;
      margin-bottom: 34px;
      padding-left: 4px;
      .editor-tool {
        align-items: center;
        color: $steel-grey;
        cursor: pointer;
        display: flex;
        height: 100%;
        justify-content: center;
        position: relative;
        width: 42px;

        &:hover {
          background: darken($white-three, 5);
        }

        .tool-icon {
          font-size: 22px;
        }

        .sub-tool-menu {
          background: $white-three;
          border-bottom-left-radius: 10px;
          border-bottom-right-radius: 10px;
          display: none;
          left: 0;
          padding: 6px;
          position: absolute;
          top: 100%;
          white-space: nowrap;
          width: auto;
          z-index: 1;
          min-width: 100%;

          .sub-tool-menu-item {
            padding: 3px;

            &:not(:last-child) {
              margin-bottom: 8px;
            }
            &:first-child {
            }
            &:hover {
              background: darken($white-three, 5);
            }
          }
        }

        &:hover {
          .sub-tool-menu {
            display: block;
          }
        }
      }

      .tool-separator {
        background: $white-four;
        height: 24px;
        margin: 0 6px;
        width: 1px;
      }

      user-select: none;
    }

    .title-input,
    .tags-input,
    .body-input {
      margin-left: 12px;
    }

    .title-input {
      // total height = 40px
      height: 40px;

      input[type='text'] {
        background: transparent;
        border: 0;
        color: $charcoal-grey;
        font-family: 'Roboto Mono', sans-serif;
        font-size: 20px;
        font-weight: 700;
      }
    }

    .tags-input {
      height: 52px;
      padding-left: 4px;

      .ant-select {
        font-family: 'Roboto Mono', sans-serif !important;
        width: 100%;

        .ant-select-selection {
          border: 0;
          color: $steel-grey;

          ul {
            li {
              background: transparent;
              border: none;
              font-size: 12px;
              padding: 0 5px;

              &:first-child {
                color: $dark-sky-blue;
              }

              .ant-select-selection__choice__remove {
                display: none;
              }
            }
          }
        }
      }
    }

    .body-input {
      height: calc(100% - #{44px+ 34px+ 40px+ 52px});
      padding-left: 11px;
    }
  }

  .preview-part {
    float: right;

    .preview-part-title {
      align-items: center;
      border-bottom: 1px solid $white-four;
      display: flex;
      height: 44px;
      margin-bottom: 9px;

      h2 {
        color: $dark-sky-blue;
        font-size: 16px;
        font-weight: 500;
        margin: 0 0 0 12px;
      }
    }

    .preview-content {
      background: $white;
      border-radius: 8px;
      height: calc(100% - 53px);
      margin-right: 12px;
      padding: 26px 12px 4px 12px;

      .preview-content-title {
        color: $charcoal-grey;
        font-size: 24px;
        font-weight: 700;
        height: 40px;
        line-height: 1.4em;
        overflow: hidden;
        white-space: nowrap;
      }

      .preview-content-tags {
        align-items: flex-start;
        display: flex;
        height: 52px;
        padding-top: 6px;

        .content-tag {
          background-color: $silver;
          border-radius: 25px;
          color: $white;
          font-size: 12px;
          line-height: 1em;
          margin-right: 12px;
          padding: 2px 8px;

          &:first-child {
            background-color: $dark-sky-blue;
          }
        }
      }

      .preview-content-body {
        height: calc(100% - #{40px + 52px});
        overflow: auto;
      }
    }
  }

  .control-part {
    user-select: none;

    button {
      font-size: 16px;
    }
    .clean-button {
      border: none;
      background: transparent;
      margin-right: 10px;

      &:enabled {
        color: $steel-grey;
      }
    }

    .left-controls,
    .right-controls {
      width: calc(50% - 24px);
      height: 50px;
      display: flex;
      align-items: center;
      margin: 0 12px;
      justify-content: space-between;
    }

    .left-controls {
      float: left;

      .reward {
        width: 280px;

        .reward-label {
          color: $steel-grey;
          font-size: 16px;
          font-weight: 500;
          margin-right: 10px;
        }
      }

      .voting {
        .ant-checkbox-wrapper {
          color: $steel-grey;
          font-size: 16px;
        }
      }

      .clear-form {
      }
    }

    .right-controls {
      .schedule {
        flex-grow: 1;
      }

      .draft {
      }

      .publish {
      }
    }
  }
}
