@import '../style/mixins';
@import '../style/colors';
@import '~typeface-roboto-mono/index.css';
@import '~codemirror/lib/codemirror.css';

/* CodeMirror */
.react-codemirror2 {
  height: 100%;
}

.CodeMirror {
  font-size: 14px;
  font-family: 'Roboto Mono', sans-serif;
  height: 100%;
  line-height: 1.6em;
}

.CodeMirror-lines {
  padding-bottom: 100px;
}

/* CodeMirror day theme */
.cm-s-day.CodeMirror {
  background: transparent;
  color: $steel-grey;
}

.cm-s-day div.CodeMirror-selected {
  background: lighten($powder-blue, 5);
}

.cm-s-day span.cm-link {
  color: $dark-sky-blue;
}

.cm-s-day span.cm-header {
  font-size: 18px;
  font-weight: 700;
}

.cm-s-day span.cm-tag {
  color: $dark-sky-blue;
}

.cm-s-day span.cm-url {
  color: $green1;
}

.cm-s-day.CodeMirror pre.CodeMirror-placeholder {
  color: lighten($steel-grey, 40);
}

.cm-s-day.CodeMirror .cm-matchhighlight {
  background-color: $green2;
}

.tag-select-options {
  font-family: 'Roboto Mono', sans-serif;
}

.compose-page {
  .editor-form,
  .preview-part {
    width: calc(50% - 2px);
    height: calc(100% - 50px);
  }

  .editor-form {
    float: left;

    .editor-toolbar {
      background: $white-three;
      height: 44px;
      margin-bottom: 34px;
      border-top-right-radius: 22px;
      border-bottom-right-radius: 22px;
      display: flex;
      align-items: center;
      user-select: none;
      padding-left: 4px;

      .editor-tool {
        width: 42px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $steel-grey;
        cursor: pointer;

        &:hover {
          background: darken($white-three, 5);
        }

        .tool-icon {
          font-size: 22px;
        }
      }

      .tool-separator {
        width: 1px;
        height: 24px;
        margin: 0 6px;
        background: $white-four;
      }
    }

    .title-input,
    .tags-input,
    .body-input {
      margin-left: 12px;
    }

    .title-input {
      // total height = 40px
      height: 40px;

      input[type='text'] {
        border: 0;
        color: $charcoal-grey;
        font-family: 'Roboto Mono', sans-serif;
        font-weight: 700;
        font-size: 20px;
        background: transparent;
      }
    }

    .tags-input {
      height: 52px;
      padding-left: 4px;

      .ant-select {
        width: 100%;
        font-family: 'Roboto Mono', sans-serif !important;

        .ant-select-selection {
          border: 0;
          color: $steel-grey;

          ul {
            li {
              font-size: 12px;
              background: transparent;
              border: none;
              padding: 0 5px;

              &:first-child {
                color: $dark-sky-blue;
              }

              .ant-select-selection__choice__remove {
                display: none;
              }
            }
          }
        }
      }
    }

    .body-input {
      padding-left: 11px;
      height: calc(100% - #{44px+ 34px+ 40px+ 52px});
    }
  }

  .preview-part {
    float: right;

    .preview-part-title {
      height: 44px;
      margin-bottom: 9px;
      border-bottom: 1px solid $white-four;
      display: flex;
      align-items: center;

      h2 {
        margin: 0 0 0 12px;
        font-size: 16px;
        font-weight: 500;
        color: $dark-sky-blue;
      }
    }

    .preview-content {
      margin-right: 12px;
      background: $white;
      height: calc(100% - 53px);
      border-radius: 8px;
      padding: 26px 12px 4px 12px;

      .preview-content-title {
        font-size: 24px;
        height: 40px;
        color: $charcoal-grey;
        font-weight: 700;
        white-space: nowrap;
        overflow: hidden;
        line-height: 1.4em;
      }

      .preview-content-tags {
        height: 52px;
        display: flex;
        align-items: flex-start;
        padding-top: 6px;

        .content-tag {
          background-color: $silver;
          color: $white;
          padding: 2px 8px;
          line-height: 1em;
          border-radius: 25px;
          font-size: 12px;
          margin-right: 12px;

          &:first-child {
            background-color: $dark-sky-blue;
          }
        }
      }

      .preview-content-body {
        height: calc(100% - #{40px + 52px});
        overflow: auto;
      }
    }
  }
}
