@import '../style/mixins';
@import '../style/colors';

.post-index {
  .post-index-side {
    float: left;
    margin-right: 50px;
    width: 208px;
    .tag-list {
      margin-top: 94px;
      padding-left: 90px;

      .tag-list-header {
        font-size: 18px;
        font-weight: 700;
        margin: 0 0 31px 0;
      }

      .tag-list-item {
        border-radius: 25px;
        color: $silver;
        display: table;
        margin-bottom: 8px;
        padding: 4px 12px;
        text-decoration: none;

        @include themify(day) {
          background: $white;
          border: solid 1px $white-four;
        }

        @include themify(night) {
          background: $dark-grey-blue;
          border: solid 1px $dark-two;
        }

        &.selected-item {
          color: $dark-sky-blue;
          pointer-events: none;
        }
      }
    }

    user-select: none;
  }

  .post-index-content {
    float: right;
    width: calc(100% - 258px);

    .post-list {
      .post-list-header {
        align-items: center;
        display: flex;
        height: 50px;
        justify-content: space-between;
        margin-bottom: 0;
        padding: 0 15px;

        @include themify(day) {
          border-bottom: 1px solid $white-four;
        }

        @include themify(night) {
          border-bottom: 1px solid $dark-two;
        }

        .filter-select {
          align-items: center;
          cursor: pointer;
          display: flex;
          font-size: 16px;
          font-weight: 500;
          height: 100%;

          @include themify(day) {
            color: $dark-sky-blue;
          }

          @include themify(night) {
            color: $pastel-blue;
          }

          .label {
            margin-right: 4px;
          }
        }

        .list-switch {
          align-items: center;

          display: flex;
          font-size: 22px;
          height: 50px;

          @include themify(day) {
            color: $light-periwinkle;
          }

          @include themify(night) {
            color: $metallic-blue;
          }
        }
      }

      .post-list-body {
      }

      &.loading {
        .post-list-header {
          border-bottom: 0;
          height: 49px;
        }
      }
    }

    user-select: none;
  }
}
