.wrapper {
  padding-top: 80px;
}

.menu {
  width: 400px;
  margin: 10px auto;
  display: flex;
  position: fixed;
  top: 10px;
  left: 10px;
  background: #ccc;
  padding: 10px;
  border-radius: 6px;

  a {
    margin-right: 10px;
  }
}