.promote-page {
  overflow-y: auto;
  padding: 0 20px;

  .page-header {
    align-items: center;
    display: flex;
    height: 60px;
    justify-content: space-between;
    padding: 0 26px;

    @include themify(day) {
      border-bottom: 1px solid $white-four;
    }

    @include themify(night) {
      border-bottom: 1px solid lighten($dark-six, 4);
    }

    &.loading {
      border-bottom: 0;
    }

    .main-title {
      color: $dark-sky-blue;
      font-size: 22px;
      font-weight: 500;
    }
  }

  .promote-form {
    padding: 24px 26px;

    .post-title {
      display: block;
    }

    .post-preview {
      position: relative;
      margin-left: 160px;

      .top-layer {
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 100;
      }
    }

    .form-item {
      align-items: flex-start;
      display: flex;
      margin-bottom: 16px;

      .form-label {
        flex-grow: 0;
        flex-shrink: 0;
        padding-top: 8px;
        width: 160px;

        @include themify(day) {
          color: $steel-grey;
        }

        @include themify(night) {
          color: $silver;
        }
      }

      .form-input {
        flex-grow: 1;

        .input-help {
          font-weight: 300;
          margin: 12px 0;

          @include themify(day) {
            color: $charcoal-grey;
          }

          @include themify(night) {
            color: $pinkish-grey;
          }
        }
      }

      &.form-item-user {
        .form-input {
          position: relative;

          .select-user {
            width: 100%;
          }

          .input-help.available-funds {
            @include themify(day) {
              color: $charcoal-grey !important;
            }

            @include themify(night) {
              color: $pinkish-grey !important;
            }
          }
        }
      }

      &.form-item-duration {
        margin-top: 30px;

        .form-label {
          padding-top: 40px;
        }
        .form-input {
          .slider-price {
            font-size: 13px;
          }
        }
      }

      &.has-error {
        .form-input {
          input[type='text'] {
            border-color: $red2;
          }

          .input-help {
            color: $red2;
          }
        }
      }
    }
  }

  .success {
    text-align: center;
    padding: 30px 0;

    .message {
      font-size: 20px;
      line-height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      .mi {
        color: $green1;
        font-size: 30px;
        line-height: 30px;
        margin-right: 10px;
      }
    }
  }
}
