@keyframes proposal-voting-color-change {
  0% {
    background: $dark-sky-blue;

    svg {
      fill: $white;
    }
  }
  25% {
    background: transparent;

    svg {
      fill: $dark-sky-blue;
    }
  }
  50% {
    background: $dark-sky-blue;

    svg {
      fill: $white;
    }
  }
  75% {
    background: transparent;

    svg {
      fill: $dark-sky-blue;
    }
  }
  100% {
    background: $dark-sky-blue;

    svg {
      fill: $white;
    }
  }
}

.btn-proposal-vote {
  align-items: center;
  border: 1px solid $dark-sky-blue;
  border-radius: 50%;
  color: $dark-sky-blue;
  display: flex;
  height: 22px;
  justify-content: center;
  text-decoration: none;
  width: 22px;

  svg {
    height: 16px;
    width: 16px;
  }

  &:focus {
    text-decoration: none;
  }

  &:hover,
  &.voted {
    background-color: $dark-sky-blue;
    color: $white;
  }

  &.in-progress {
    animation: proposal-voting-color-change 5s infinite;
    opacity: 0.5;
    pointer-events: none;
  }

  &.disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}

.sps-page {
  overflow-y: auto;
  padding: 0 30px;

  .page-header {
    align-items: center;
    display: flex;
    height: 60px;
    justify-content: space-between;
    padding: 0 20px;

    @include themify(day) {
      border-bottom: 1px solid $white-four;
    }

    @include themify(night) {
      border-bottom: 1px solid lighten($dark-six, 4);
    }

    &.loading {
      border-bottom: 0;
    }

    .main-title {
      color: $dark-sky-blue;
      font-size: 22px;
      font-weight: 500;
    }
  }

  .sps-list {
    margin-bottom: 30px;

    @include themify(night) {
      background: $dark-six;
    }

    .sps-list-header {
      font-size: 16px;
      font-weight: 700;
      padding: 16px 0;

      @include themify(day) {
        color: $steel-grey;
      }
    }

    .sps-list-item {
      display: flex;
      align-items: center;
      font-size: 16px;
      padding: 16px 0;
      border-radius: 10px;

      @include themify(day) {
        color: $steel-grey;
      }

      &:nth-child(even) {
        @include themify(day) {
          background: $white-three;
        }

        @include themify(night) {
          background: lighten($dark-six, 4);
        }
      }

      .description {
        padding-right: 3px;

        .post-title {
          font-weight: 500;
          margin-bottom: 16px;
          cursor: pointer;

          &:hover {
            text-decoration: underline;
          }
        }

        .users {
          font-size: 14px;
          align-items: center;
          display: flex;
          margin-bottom: 16px;

          .to {
            margin-right: 10px;
            font-weight: 300;
          }

          .user {
            align-items: center;
            cursor: pointer;
            display: flex;
            margin-right: 10px;

            .user-avatar {
              height: 24px !important;
              margin-right: 6px;
              width: 24px !important;
            }

            .username {
              cursor: pointer;
              font-weight: 400;
            }
          }
        }

        .status {
          color: $white;
          border-radius: 12px;
          padding: 1px 4px;
          font-size: 13px;
          font-weight: 300;

          &.active {
            background-color: $green1;
          }

          &.expired {
            background-color: lighten($red, 20);
          }

          &.inactive {
            background-color: lighten($orange, 10);
          }
        }
      }

      .duration {
        padding-right: 3px;
      }

      .requested {
        padding-right: 3px;

        .daily {
          margin-bottom: 6px;
        }
      }

      .total-votes {
        cursor: pointer;
        padding-right: 3px;
      }
    }
  }
}

.sps-voters-dialog-content {
  min-height: 200px;
  overflow-y: auto;
}
