@import '../style/mixins';
@import '../style/colors';

@keyframes witness-voting-color-change {
  0% {
    background: $dark-sky-blue;

    svg {
      fill: $white;
    }
  }
  25% {
    background: transparent;

    svg {
      fill: $dark-sky-blue;
    }
  }
  50% {
    background: $dark-sky-blue;
    svg {
      fill: $white;
    }
  }
  75% {
    background: transparent;
    svg {
      fill: $dark-sky-blue;
    }
  }
  100% {
    background: $dark-sky-blue;
    svg {
      fill: $white;
    }
  }
}

.btn-witness-vote {
  align-items: center;
  border: 1px solid $dark-sky-blue;
  border-radius: 50%;
  color: $dark-sky-blue;
  display: flex;
  height: 28px;
  justify-content: center;
  text-decoration: none;
  width: 28px;

  svg {
    height: 22px;
    width: 22px;
  }

  &:focus {
    text-decoration: none;
  }

  &:hover,
  &.voted {
    background-color: $dark-sky-blue;
    color: $white;
  }

  &.in-progress {
    animation: witness-voting-color-change 5s infinite;
    opacity: 0.5;
    pointer-events: none;
  }
}

.witnesses-page {
  overflow-y: auto;
  padding: 0 30px;

  .page-header {
    align-items: center;
    border-bottom: 1px solid $white-four;
    display: flex;
    height: 60px;
    justify-content: space-between;
    padding: 0 20px;

    &.loading {
      border-bottom: 0;
    }

    .main-title {
      color: $dark-sky-blue;
      font-size: 22px;
      font-weight: 500;
    }
  }

  .index-num {
    color: $silver;
    font-size: 16px;
  }

  .witness-card {
    align-items: center;
    cursor: pointer;
    display: flex;

    .user-avatar {
      height: 50px !important;
      margin-right: 10px;
      width: 50px !important;
    }

    .username {
      color: $charcoal-grey;
      cursor: pointer;
      font-weight: 700;
    }

  }

  .witness-link {
    color: $dark-sky-blue;
    font-size: 24px;
    font-weight: 700;

    &::after {
      // disable external link icon
      content: '' !important;
    }
  }

  .witness-column-title {
    padding-left: 60px;
  }

  // Antd table overrides
  .ant-table-row:nth-child(odd) {
    background: $white-three;
  }

  .ant-table-fixed-left {
    .ant-table-row {
      td:first-child {
        border-top-left-radius: 10px;
      }
      td:first-child {
        border-bottom-left-radius: 10px;
      }
    }
  }

  .ant-table-fixed-right {
    .ant-table-row {
      td:first-child {
        border-top-right-radius: 10px;
      }
      td:first-child {
        border-bottom-right-radius: 10px;
      }
    }
  }

  .ant-table-thead, .ant-table-tbody {
    th, td {
      background: transparent !important;
      border: 0;
      color: $steel-grey;
      font-size: 18px;
    }
    th {
      font-weight: 700;
    }
  }
}
