@import '../style/mixins';
@import '../style/colors';

@keyframes witness-voting-color-change {
  0% {
    background: $dark-sky-blue;

    svg {
      fill: $white;
    }
  }
  25% {
    background: transparent;

    svg {
      fill: $dark-sky-blue;
    }
  }
  50% {
    background: $dark-sky-blue;
    svg {
      fill: $white;
    }
  }
  75% {
    background: transparent;
    svg {
      fill: $dark-sky-blue;
    }
  }
  100% {
    background: $dark-sky-blue;
    svg {
      fill: $white;
    }
  }
}

.btn-witness-vote {
  align-items: center;
  border: 1px solid $dark-sky-blue;
  border-radius: 50%;
  color: $dark-sky-blue;
  display: flex;
  height: 22px;
  justify-content: center;
  text-decoration: none;
  width: 22px;

  svg {
    height: 16px;
    width: 16px;
  }

  &:focus {
    text-decoration: none;
  }

  &:hover,
  &.voted {
    background-color: $dark-sky-blue;
    color: $white;
  }

  &.in-progress {
    animation: witness-voting-color-change 5s infinite;
    opacity: 0.5;
    pointer-events: none;
  }

  &.disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}

.witnesses-page {
  overflow-y: auto;
  padding: 0 30px;

  .page-header {
    align-items: center;
    border-bottom: 1px solid $white-four;
    display: flex;
    height: 60px;
    justify-content: space-between;
    padding: 0 20px;

    &.loading {
      border-bottom: 0;
    }

    .main-title {
      color: $dark-sky-blue;
      font-size: 22px;
      font-weight: 500;
    }

    .remaining {
      color: $steel-grey;
      font-size: 16px;
    }
  }

  .witnesses-table {
    margin-bottom: 30px;

    .witness-column-title {
      padding-left: 60px;
    }

    .index-num {
      color: $silver;
      font-size: 16px;
    }

    .witness-card {
      align-items: center;
      cursor: pointer;
      display: flex;

      .user-avatar {
        height: 50px !important;
        margin-right: 10px;
        width: 50px !important;
      }

      .username {
        color: $charcoal-grey;
        cursor: pointer;
        font-weight: 700;
      }

    }

    .witness-link {
      color: $dark-sky-blue;
      font-size: 24px;
      font-weight: 700;

      &::after {
        // disable external link icon
        content: '' !important;
      }
    }

    .feed-price, .version-num {
      border-radius: 9.5px;
      color: $white;
      font-weight: 500;
      padding: 2px 10px;
    }

    .feed-price {
      background: $green3;

    }

    .version-num {
      background: $dark-sky-blue;
    }

    // Antd table overrides
    .ant-table-row:nth-child(odd) {
      background: $white-three;
    }

    .ant-table-fixed-left {
      .ant-table-row {
        td:first-child {
          border-top-left-radius: 10px;
        }
        td:first-child {
          border-bottom-left-radius: 10px;
        }
      }
    }

    .ant-table-fixed-right {
      .ant-table-row {
        td:first-child {
          border-top-right-radius: 10px;
        }
        td:first-child {
          border-bottom-right-radius: 10px;
        }
      }
    }

    .ant-table-thead, .ant-table-tbody {
      th, td {
        background: transparent !important;
        border: 0;
        color: $steel-grey;
        font-size: 16px;
      }
      th {
        font-size: 18px;
        font-weight: 700;
      }
    }
  }

  .extra-funcs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;

    .extra-witnesses {
      width: 300px;

      .witnesses-list {
        margin-top: 20px;
        .item {

          display: flex;
          justify-content: space-between;
          margin: 5px 0;
          width: 240px;

          .username {
            color: $charcoal-grey;
            font-size: 16px;
            font-weight: 500;
            width: 180px;
          }

          .btn-submit {
            width: 40px;
          }
        }
      }
    }

    .proxy {
      width: 400px;
    }

    .extra-witnesses, .proxy {
      .explanation {
        color: $steel-grey;
        font-size: 16px;
        margin-bottom: 10px;
      }

      .input-form {
        align-items: center;
        display: flex;
        justify-content: space-between;
        width: 240px;

        .txt-username {
          width: 180px;
        }

        .btn-submit {
          width: 40px;
        }
      }
    }
  }
}
