@import '../../style/mixins';
@import '../../style/colors';

.app-footer {
  align-items: center;

  display: flex;
  flex-shrink: 0;
  height: 32px;
  justify-content: space-between;
  padding: 0 15px;

  @include themify(day) {
    background-color: $white-three;
  }

  @include themify(night) {
    background-color: $dark;
  }

  .left-side {
    width: 40%;
    display: flex;

    .voting-power {
      margin-right: 20px;
    }

    .voting-power,
    .resource-credits {
      opacity: 0.5;
      display: flex;
      height: 100%;
      width: 64px;
      flex-direction: column;
      cursor: pointer;

      .first-line {
        font-size: 12px;
        margin-bottom: 3px;
        justify-content: space-between;
        display: flex;

        .first-line-label {
          font-weight: 700;
        }
      }

      .power-line {
        display: flex;
        height: 2px;
        background: lighten($steel-grey, 20);
        border-radius: 5px;

        .power-line-inner {
          height: 100%;
          background: $dark-sky-blue;
          border-radius: 5px;
        }
      }

      &:hover {
        opacity: 1;
      }
    }

    .resource-credits {
      .power-line {
        .power-line-inner {
          background: $green1;
        }
      }
    }
  }

  .right-side {
    font-size: 12px;
    width: 50%;
    text-align: right;

    a {
      @include themify(day) {
        color: $warm-grey;
      }

      @include themify(night) {
        color: $white-five;
      }

      &.faq,
      &.about {
        margin-right: 8px;
      }

      &.about {
        &:after {
          vertical-align: -10%;
        }
      }

      &.version {
        font-weight: 700;
      }
    }
  }
}
