@import '../../style/mixins';
@import '../../style/colors';

.app-footer {
  align-items: center;

  display: flex;
  flex-shrink: 0;
  height: 32px;
  justify-content: space-between;
  padding: 0 15px;

  @include themify(day) {
    background-color: $white-three;
  }

  @include themify(night) {
    background-color: $dark;
  }

  .voting-power {
    .battery {
      img {
        opacity: 0.6;
        -webkit-transform: rotate(90deg);
        width: 20px;
      }
    }
  }

  .right-menu {
    font-size: 12px;

    a {
      @include themify(day) {
        color: $warm-grey;
      }

      @include themify(night) {
        color: $white-five;
      }

      &:not(:last-child) {
        margin-right: 8px;
        &::after {
          content: '|';
          padding-left: 8px;
        }
      }

      &.version {
        font-weight: 700;
      }
    }
  }

  user-select: none;
}
