@import "../../../node_modules/antd/dist/antd";

@font-family: 'Roboto', sans-serif;
@line-height-base: 1.2;

@primary-color: #357ce6;
@primary-1: #eaf2fc;

@text-color:  #3c4449;
@text-color-secondary: fade(#000, 45%);
@component-background: #fcfcfc;
@popover-bg: #fcfcfc;

@import "overwrites";
