body.night-theme {
  @import "../../../node_modules/antd/lib/style/components.less";

  @font-family: 'Roboto', sans-serif;
  @line-height-base: 1.2;

  @primary-color: #526d91;
  @primary-1: #c4dcff;

  @text-color-secondary: #c1c5c7;
  @component-background: lighten(#202834, 5);

  @import "overwrites";
}