@import '../../style/mixins';
@import '../../style/colors';

.quick-profile-content {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;

  .profile-area {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 240px;
    justify-content: center;
    position: relative;
    text-align: center;
    width: 100%;

    @include themify(day) {
      background-color: lighten($powder-blue, 10);
      border-bottom: 1px solid lighten($powder-blue, 5);
    }
    @include themify(night) {
      background-color: lighten($dark-six, 1);
      border-bottom: 1px solid $dark-two;
    }

    .follow-btn-holder {
      position: absolute;
      right: 20px;
      top: 20px;
    }

    .profile-avatar {
      height: 100px;
      margin-bottom: 16px;
      position: relative;
      width: 100px;

      .user-avatar {
        border: 3px solid $powder-blue;
        height: 100px;
        width: 100px;
      }

      .reputation {
        background: $dark-sky-blue;
        border-radius: 25px;
        bottom: 0;
        color: $white;
        font-weight: 700;
        left: 0;
        line-height: 1em;
        padding: 4px 12px;
        position: absolute;
      }
    }

    .full-name {
      color: $charcoal-grey;
      font-size: 18px;
      font-weight: 700;
      margin-bottom: 6px;
    }

    .username {
      color: $dark-sky-blue;
      cursor: pointer;
      font-size: 14px;
      font-weight: 700;
      margin-bottom: 10px;

      &:before {
        content: '@';
      }

      &:hover {
        text-decoration: underline;
      }
    }

    .about {
      color: $dark-sky-blue;
      margin-bottom: 10px;
      max-height: 3.6em;
      max-width: 90%;
      opacity: 0.6;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .numbers {
      color: $steel-grey;
      display: flex;
      font-size: 13px;

      .followers,
      .post-count {
        margin-right: 6px;

        &:after {
          content: '|';
          padding-left: 6px;
        }
      }
    }
  }

  .entries {
    max-height: calc(100% - 240px);
    overflow: auto;
    padding: 0 10px;
  }

  &.loading {
    .profile-area {
      border-bottom: 1px solid transparent;
    }
  }
}
