@import '../../style/mixins';
@import '../../style/colors';

.activities-dialog-content {
  height: 100%;

  .dialog-header {
    height: 75px;
    padding: 0 60px;

    .header-menu {
      height: 100%;

      .header-menu-items {
        align-items: center;
        display: flex;
        height: 100%;
        justify-content: space-around;
        width: 100%;

        .menu-item {
          align-items: center;
          color: $steel-grey;
          cursor: pointer;
          display: flex;
          font-size: 16px;
          font-weight: 500;
          height: 100%;
          justify-content: center;
          position: relative;
          width: 50%;

          &.selected-item {
            border-bottom: 2px solid $dark-sky-blue;
            color: $dark-sky-blue;
            font-weight: 700;
          }

          .type-selection {
            align-items: center;
            display: flex;
            height: 100%;
            position: absolute;
            right: 0;
            top: 0;
          }
        }
      }
    }
  }

  .dialog-content {
    height: calc(100% - 75px);
    overflow: auto;
    position: relative;

    &:not(.loading) {
      @include themify(day) {
        border-top: 1px solid $white-four;
      }

      @include themify(night) {
        border-top: 1px solid $metallic-blue;
      }
    }

    .score-list {
      padding: 10px 10px;

      .list-title {
        align-items: center;
        display: flex;
        font-size: 16px;
        font-weight: 700;
        justify-content: space-between;
        margin-bottom: 10px;
        padding: 10px;

        @include themify(day) {
          color: $steel-grey;
        }

        @include themify(night) {
          color: $powder-blue;
        }
      }

      .list-header {
        padding: 8px 16px;

        .score {
          text-align: right;

          .mi {
            color: $silver;
            margin-right: 3px;
            cursor: default;
          }
        }

        .points {
          color: $dark-sky-blue;
          text-align: right;
        }
      }

      .list-item {
        border-radius: 8px;
        padding: 8px 16px;

        @include themify(day) {
          color: $charcoal-grey;
        }

        @include themify(night) {
          color: $pinkish-grey;
        }

        .item-index {
          color: $silver;
          font-size: 13px;
          font-weight: 500;
        }

        .avatar {
          width: 40px;
        }

        .username,
        .avatar {
          cursor: pointer;
        }

        .username,
        .score,
        .points {
          font-weight: 700;
        }

        .score {
          text-align: right;
        }

        .points {
          color: $dark-sky-blue;
          text-align: right;
        }

        &:nth-child(odd) {
          @include themify(day) {
            background: $white-three;
          }

          @include themify(night) {
            background: lighten($dark-six, 2);
          }
        }
      }
    }

    .activity-list {
      &.empty-list {
        padding: 10px;

        @include themify(day) {
          border-top: 1px solid $white-four;
        }

        @include themify(night) {
          border-top: 1px solid $dusky-blue-two;
        }
      }

      .group-title {
        font-size: 16px;
        font-weight: 500;
        padding: 16px;

        &:first-letter {
          text-transform: capitalize;
        }

        @include themify(day) {
          border-bottom: 1px solid $white-four;
          border-top: 1px solid $white-four;
          color: $steel-grey;
        }

        @include themify(night) {
          border-bottom: 1px solid $metallic-blue;
          border-top: 1px solid $metallic-blue;
          color: $powder-blue;
        }

        &:first-child {
          border-top: 0;
        }
      }

      .activity-list-item {
        @include clearfix();
        cursor: default;

        &.not-read {
          @include themify(day) {
            background: $duck-egg-blue;
          }

          @include themify(night) {
            background: darken($metallic-blue, 16);
          }
        }

        .activity-inner {
          @include clearfix();
          border-bottom-right-radius: 40px;
          border-top-right-radius: 40px;
          margin-right: 40px;
          padding: 14px 40px 15px 30px;

          .activity-control {
            align-items: center;
            display: flex;
            float: left;
            height: 100%;
            padding-top: 18px;
            width: 41px;

            .mark-read {
              background: $dark-sky-blue;
              border-radius: 50%;
              cursor: pointer;
              height: 4px;
              margin-left: 5px;
              width: 4px;
            }
          }

          .source {
            cursor: pointer;
            float: left;
            margin-right: 10px;
            width: 40px;
          }

          .activity-content {
            float: left;
            width: calc(100% - 94px);

            @include themify(day) {
              color: $charcoal-grey;

              a {
                color: $charcoal-grey;
              }
            }

            @include themify(night) {
              color: $pinkish-grey;

              a {
                color: $pinkish-grey;
              }
            }

            .first-line,
            .second-line {
            }

            .first-line {
              margin-bottom: 4px;

              .source-name {
                cursor: pointer;
                font-weight: 700;
                margin-right: 4px;
              }

              .activity-action {
                margin-right: 10px;
                opacity: 0.8;
              }
            }

            .vert-separator {
              height: 4px;
            }

            .post-link {
              display: inline-block;
              font-weight: 500;
              max-width: 98%;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }

            .transfer-amount {
              font-weight: 500;
            }

            .second-line {
              .reply-body,
              .transfer-memo {
                border-left: 5px solid lighten($steel-grey, 30);
                color: $steel-grey;
                cursor: pointer;
                font-size: 13px;
                padding-left: 10px;
              }

              .follow-label,
              .unfollow-label,
              .ignore-label {
                border-radius: 25px;
                color: $white;
                display: inline-block;
                font-size: 12px;
                padding: 2px 6px;
              }

              .follow-label {
                background: $dark-sky-blue;
              }

              .unfollow-label {
                background: $silver;
              }

              .ignore-label {
                background: $red3;
              }
            }
          }
        }

        &:not(.not-read) {
          .activity-inner {
            &:hover {
              @include themify(day) {
                background: $white-three;
              }

              @include themify(night) {
                background: darken($metallic-blue, 16);
              }
            }
          }
        }
      }
    }

    .content-controls {
      display: flex;
      justify-content: space-between;
      position: absolute;
      right: 30px;
      top: 16px;
      width: 60px;

      .control-button {
        color: $dark-sky-blue;
        font-size: 20px;

        &.disabled {
          color: lighten($dark-sky-blue, 10);
          pointer-events: none;
        }
      }
    }

    &.loading {
      .content-controls {
        top: 17px;
      }
    }
  }
}
