@import '../../style/mixins';
@import '../../style/colors';

.bookmarks-dialog-content {
  height: 500px;
  overflow: auto;

  .bookmark-filter {
    padding: 10px 20px 16px 20px;
  }

  .bookmarks-list {
    padding: 0 20px;
    .bookmarks-list-body {
      .bookmarks-list-item {
        align-items: center;
        border-radius: 8px;
        cursor: pointer;
        display: flex;
        margin-bottom: 10px;
        padding: 3px;

        @include themify(day) {
          color: $dark-sky-blue;
        }

        @include themify(night) {
          color: $powder-blue;
        }

        &:hover {
          @include themify(day) {
            background: $duck-egg-blue;
          }

          @include themify(night) {
            background: $metallic-blue;
          }
        }

        .user-avatar {
          flex-shrink: 0;
          height: 40px;
          margin-right: 10px;
          width: 40px;
        }

        .entry-link {
          font-size: 16px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          width: calc(100% - 50px);

          .author {
            font-weight: 700;
            &:before {
              content: '@';
            }
            &:after {
              content: '/';
            }
          }
        }
      }
    }
  }
}
