@import '../../style/mixins';
@import '../../style/colors';

.pin-create-dialog-content {
  padding: 35px;

  .dialog-form {
    align-items: center;
    display: flex;
    flex-wrap: wrap;

    .brand {
      height: 128px;
      margin-right: 12px;
      width: 128px;

      img {
        width: 100%;
      }
    }

    .form-content {
      padding-top: 14px;
      width: calc(100% - 140px);
    }

    .form-content {
      .form-desc {
        @include themify(day) {
          color: $steel-grey;
        }

        @include themify(night) {
          color: $silver;
        }
      }

      .form-desc2 {
        margin: 1em 0 0 0;

        @include themify(day) {
          color: $silver;
        }

        @include themify(night) {
          color: $steel-grey;
        }
      }
    }
  }
}
