// @import "~@fortawesome/fontawesome-free/css/all.css";
@import '~typeface-roboto';
@import "~material-design-icons/iconfont/material-icons.css";
@import "~antd/dist/antd.less";
@import 'variables';

html {
  /* Adjust font size */
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  /* Font varient */
  font-variant-ligatures: none;
  -webkit-font-variant-ligatures: none;
  /* Smoothing */
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
}

#root {
  min-width: @screen-lg-min;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.wrapper {
  height: 100%;
  width: 100%;
}

.appContainer {
  height: ~"calc(100% - 85px - 32px)";
  overflow-y: auto;
}

// OVERWRITES

// ant drop down
.ant-dropdown-menu {
  padding-top: 20px;
}

.ant-dropdown-menu-item {
  padding-left: 32px;
  margin-right: 32px;
  margin-bottom: 10px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;

  a {
    display: inline-block;
    color: @text-color-secondary;
    font-weight: 500;
    border-radius: 25px;
    padding: 6px 20px;
  }
}

.ant-dropdown-menu-item-selected {
  background: none;

  a {
    background-color: @primary-color;
    color: #fff;
    font-weight: 700;
  }
}

.ant-dropdown-menu-item-selected:hover {
  background: none;
}

.ant-dropdown-menu-item:not(.ant-dropdown-menu-item-selected):hover {

  a {
    color: @primary-color;
    font-weight: 700;
  }
}