// @import "~@fortawesome/fontawesome-free/css/all.css";
@import '~typeface-roboto';
@import "~material-design-icons/iconfont/material-icons.css";
@import "~antd/dist/antd.less";

@font-family: 'Roboto', sans-serif;
@line-height-base: 1.2;

html {
  /* Adjust font size */
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  /* Font varient */
  font-variant-ligatures: none;
  -webkit-font-variant-ligatures: none;
  /* Smoothing */
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
}

@import 'variables';

#root {
  min-width: @screen-lg-min;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.appContainer {
  flex-grow: 1;
  background: lightseagreen;
  overflow-y: auto;
}