@import "~bootstrap-sass/assets/stylesheets/bootstrap/_mixins.scss";

.post-list-item {
  padding: 0 0 6px 0;

  .post-header {
    @include clearfix();
    font-size: 14px;
    margin-bottom: 10px;

    .post-author-left {
      float: left;
      margin-right: 10px;

      .post-author-pic {
        border-radius: 50%;
        height: 24px;
        overflow: hidden;
        width: 24px;

        img {
          height: 100%;
          width: 100%;
        }
      }
    }

    .post-author-right {
      float: left;
      margin-right: 5px;
      padding-top: 2px;

      .post-author-name {
        font-weight: 600;
      }

      .post-author-reputation {
        &:before {
          content: '(';
        }
        &:after {
          content: ')';
        }
      }
    }

    .post-info {
      color: $textColorLight;
      float: left;
      padding-top: 2px;

      .post-info-cat {
        margin-right: 2px;
        &:after {
          content: '•';
          padding-left: 6px;
        }
      }

      .post-info-cat, .post-info-date {
        a {
          color: $textColorLight;
        }
      }
    }
  }

  .post-body {
    @include clearfix();

    .post-image {
      float: left;
      min-height: 90px;
      padding-top: 8px;
      width: 130px;

      img {
        width: 100%;
      }
    }

    .post-body-content {
      .post-body-content-title, .post-body-content-summary {
        font-size: 16px;
      }

      .post-body-content-title {
        margin: 0 0 10px 0;

      }

      .post-body-content-summary {
        margin-bottom: 10px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;
      }

      .post-body-content-controls {
        @include clearfix();

        .control-vote {
          border-right: 1px solid $seperatorColor;
          float: left;
          margin-right: 20px;
          padding-right: 20px;

          .up-vote {
            float: left;
            margin-right: 10px;
            a {
              color: $textColorLight;
              font-size: 20px;
              line-height: 22px;
            }
          }

          .vote-money {
            float: left;

            font-size: 15px;
            .money-prefix {

            }
          }
        }

        .control-voters {
          border-right: 1px solid $seperatorColor;
          float: left;
          margin-right: 20px;
          padding-right: 20px;

          a {
            .fa {
              color: $textColorLight;
              margin-right: 7px;
            }

            &:hover {
              .fa {
                color: $linkHoverColor;
              }
            }
          }

        }

        .control-comments {
          float: left;

          a {
            .fa {
              color: $textColorLight;
              margin-right: 6px;
            }

            &:hover {
              .fa {
                color: $linkHoverColor;
              }
            }
          }
        }
      }
    }

    &.with-image {
      .post-body-content {
        float: right;
        width: calc(100% - 140px);
      }
    }
  }
}
