@import "~bootstrap-sass/assets/stylesheets/bootstrap/_mixins.scss";

.post-list-item {

  .post-header {
    @include clearfix();
    font-size: 14px;
    margin-bottom: 10px;

    .post-author-left {
      float: left;
      margin-right: 10px;

      .post-author-pic {
        border-radius: 50%;
        height: 24px;
        overflow: hidden;
        width: 24px;

        img {
          height: 100%;
          width: 100%;
        }
      }
    }

    .post-author-right {
      float: left;
      margin-right: 5px;

      .post-author-name {
        font-weight: 600;
      }

      .post-author-reputation {
        &:before {
          content: '(';
        }
        &:after {
          content: ')';
        }
      }
    }

    .post-info {
      color: $textColorLight;
      float: left;

      .post-info-cat {
        margin-right: 2px;
        &:after {
          content: '•';
          padding-left: 6px;
        }
      }

      .post-info-cat, .post-info-date {
        a {
          color: $textColorLight;
        }
      }
    }
  }

  .post-body {
    @include clearfix();

    .post-image {
      float: left;
      height: 77px;
      overflow: hidden;
      padding-top: 2px;
      width: 130px;

      img {
        height: 100%;
        width: 100%;
      }
    }

    .post-body-content {
      .post-body-content-title, .post-body-content-summary {
        font-size: 16px;

        a.visited {
          color: $textColorLighter;
        }
      }

      .post-body-content-title {
        line-height: 130%;
        margin: 0 0 8px 0;
      }

      .post-body-content-summary {
        margin-bottom: 10px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;
      }

      .post-body-content-controls {
        @include clearfix();

        .control-vote {
          border-right: 1px solid $seperatorColor;
          float: left;
          margin-right: 20px;
          padding-right: 20px;

          .up-vote {
            float: left;
            margin-right: 10px;
            a {
              color: $textColorLight;
              font-size: 20px;
              line-height: 22px;
            }
          }

          .post-total {
            float: left;
            font-size: 15px;
            position: relative;

            .popover {
              .table {
                font-size: 90%;
                margin: 0;
                width: 250px;

                tr {
                  td, th {
                    padding: 6px 4px;
                  }

                  &:first-of-type {
                    td, th {
                      border-top: 0
                    }
                  }
                }
              }
            }

            a {
              outline: 0;

              .cur-prefix {
              }

              &.payout-declined {
                color: $textColorLighter;
                text-decoration: line-through;
              }
            }
          }
        }

        .control-voters {
          border-right: 1px solid $seperatorColor;
          float: left;
          margin-right: 20px;
          padding-right: 20px;

          a {
            .fa {
              color: $textColorLight;
              margin-right: 7px;
            }

            &:hover {
              .fa {
                color: $linkHoverColor;
              }
            }
          }

        }

        .control-comments {
          float: left;

          a {
            .fa {
              color: $textColorLight;
              margin-right: 6px;
            }

            &:hover {
              .fa {
                color: $linkHoverColor;
              }
            }
          }
        }
      }
    }

    &.with-image {
      .post-body-content {
        float: right;
        // 130 = image width + 13 margin space
        width: calc(100% - 143px);
      }
    }
  }
}

.the-post {
  margin: auto;
  width: 800px;

  .post-header {
    @include clearfix();

    border-bottom: 1px solid $seperatorColor;
    margin-bottom: 15px;
    padding-bottom: 7px;

    h1.post-title {
      font-size: 32px;
      line-height: 140%;
      margin: 30px 0 30px 0;
    }

    .post-info-bar {
      align-items: center;
      display: flex;
      font-size: 18px;
      margin: 1rem 0 1rem 0;

      .post-author-pic {
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 50%;
        float: left;
        height: 40px;
        width: 40px;
      }

      .post-info-right-side {
        margin-left: 13px;

        .post-author-name {
          font-weight: 600;
          line-height: 100%;
          margin-right: 8px;

          .post-author-reputation {
            font-size: 14px;

            &:before {
              content: '(';
            }
            &:after {
              content: ')';
            }
          }
        }

        .post-cat {
          margin-right: 2px;

          a {
            font-weight: bold;
          }

          &:after {
            content: '•';
            padding-left: 6px;
          }
        }

        .post-cat, .post-date {
          color: $textColorLight;

          a {
            color: $textColorLight;
          }
        }
      }
    }
  }
}

.markdown-view {
  h1 {
    font-size: 28px;
    margin: 40px 0 0.3rem 0;
    line-height: 1.2 !important;
  }

  h2 {
    font-size: 24px;
    line-height: 140%;
    margin: 4px 0 4px 0;
  }

  h3 {
    font-size: 20px;
    line-height: 140%;
    margin: 0 0 4px 0;
  }

  p {
    line-height: 150%;
    margin: 0 0 1.5rem 0;
    font-size: 18px;
  }

  center {
    margin: 0 0 24px 0;
  }

  .markdown-img-holder {
    display: block;
    max-width: 100%;
    text-align: center;
    img {
      max-width: 100%;
    }
  }

  a {
    color: $linkHoverColor !important;
  }
}
