@import "~bootstrap-sass/assets/stylesheets/bootstrap/_mixins.scss";

.markdown-view {
  font-size: 18px;
  word-wrap: break-word;

  br {
    font-size: 100%;
  }

  h1 {
    font-size: 28px;
    line-height: 1.2 !important;
    margin: 40px 0 0.3rem 0;
  }

  h2 {
    font-size: 24px;
    line-height: 140%;
    margin: 4px 0 4px 0;
  }

  h3 {
    font-size: 20px;
    line-height: 140%;
    margin: 0 0 4px 0;
  }

  blockquote {
    color: $textColorLighter;
    font-size: 18px;
    padding-bottom: 4px;
    padding-top: 4px;
  }

  p {
    line-height: 150%;
    margin: 0 0 1.5rem 0;
    text-rendering: optimizeLegibility;
  }

  ul li, ol li {
    font-size: 18px;
    line-height: 150%;
    margin: 0 0 1rem 0;
  }

  center {
    margin: 0 0 24px 0;
  }

  .markdown-external-link, .markdown-post-link, .markdown-author-link, .markdown-tag-link {
    cursor: pointer;
  }

  img {
    max-width: 100%;
  }

  a {
    color: $linkHoverColor !important;
  }

  &.mini-markdown {
    font-size: 14px;
    word-wrap: break-word;

    blockquote {
      font-size: 14px;
    }

    p {
      margin: 0 0 0.6rem 0;

      &:last-child {
        margin-bottom: 0.2rem;
      }
    }

    img {
      max-height: 400px;
      max-width: 400px;
    }

  }

  overflow-wrap: break-word;
}

.side-tag-list {
  background: $listBgColor;
  border: 1px solid $listBorderColor;
  box-shadow: 0 0 1px 0 $listBorderColor;
  float: left;
  padding: 20px 20px;
  width: 200px;

  header {
    margin-bottom: 10px;
    @include clearfix();

    h2 {
      float: left;
      font-size: 18px;
      font-weight: 600;
      margin: 0;
    }

    .btn-remove-tag {
      color: $textColorLight;
      float: right;
      opacity: 0.6;

      &:hover {
        opacity: 1;
      }
    }
  }

  footer {
    margin-top: 10px;

    a {
      font-size: 16px;
      font-weight: 600;
    }
  }

  ul.tag-list {
    margin: 0;
    padding: 0;

    li {
      list-style: none;
      margin-bottom: 6px;

      a {
        font-size: 16px;
      }

      &.active {
        a {
          color: $linkHoverColor;
          font-weight: 600;
        }
      }
    }
  }
}

.post-list-item {
  /*
  STRUCTURE:
  .post-list-item
    .post-header
      .post-info-bar
        .post-author-pic
        .post-info-right-side
          .post-author
          .post-author-reputation
          .post-cat
          .post-date

    .post-body
      .post-image
      .post-body-title
      .post-body-summary


    .post-footer
      .post-voting
        .post-up-vote
        .post-total
          a
            .cur-prefix
      .post-voters
      .post-comment-count
   */
  @include clearfix();

  width: 100%;

  .post-header {
    @include clearfix();

    font-size: 14px;
    margin-bottom: 10px;

    .post-resteemed{
      color: $textColorLighter;
      margin-bottom: 8px;
    }

    .post-info-bar {
      align-items: center;
      display: flex;

      .post-author-pic {
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 50%;
        float: left;
        height: 24px;
        width: 24px;
      }

      .post-info-right-side {
        float: left;
        margin-left: 10px;
        margin-right: 5px;

        .post-author {
          font-weight: 600;
        }

        .post-author-reputation {
          &:before {
            content: '(';
          }
          &:after {
            content: ')';
          }
        }

        .post-parent {
          margin-right: 2px;
          &:after {
            content: '•';
            padding-left: 6px;
          }
        }

        .post-parent, .post-date {
          color: $textColorLight;

          a {
            color: $textColorLight;
          }
        }
      }
    }
  }

  .post-body {

    .post-image {
      float: left;
      height: 77px;
      overflow: hidden;
      padding-top: 2px;
      width: 130px;

      img {
        height: 100%;
        width: 100%;
      }
    }

    .post-body-title, .post-body-summary {
      font-size: 16px;

      a.visited {
        color: $textColorLighter;
      }
    }

    .post-body-title {
      line-height: 130%;
      margin: 0 0 8px 0;
      width: 100%;
    }

    .post-body-summary {
      margin-bottom: 10px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 100%;
    }
  }

  .post-footer {
    @include clearfix();

    .post-voting {
      border-right: 1px solid $seperatorColor;
      float: left;
      margin-right: 20px;
      padding-right: 20px;

      .post-up-vote {
        float: left;
        margin-right: 10px;
        a {
          color: $textColorLight;
          font-size: 20px;
          line-height: 22px;
        }
      }

      .post-total {
        float: left;
        font-size: 15px;
        position: relative;

        a {
          outline: 0;

          .cur-prefix {

          }

          &.payout-declined {
            color: $textColorLighter;
            text-decoration: line-through;
          }
        }
      }
    }

    .post-voters {
      border-right: 1px solid $seperatorColor;
      float: left;
      margin-right: 20px;
      padding-right: 20px;

      a {
        .fa {
          color: $textColorLight;
          margin-right: 7px;
        }

        &:hover {
          .fa {
            color: $linkHoverColor;
          }
        }
      }
    }

    .post-comment-count {
      float: left;

      a {
        .fa {
          color: $textColorLight;
          margin-right: 6px;
        }

        &:hover {
          .fa {
            color: $linkHoverColor;
          }
        }
      }
    }
  }

  &.with-image {
    .post-body .post-body-title,
    .post-body .post-body-summary,
    .post-footer {
      // 130 = image width + 10 margin space
      float: right;
      width: calc(100% - 140px);
    }
  }
}

.the-post {
  /*
  STRUCTURE:

  .the-post
    .post-header
      .post-title
      .post-info-bar
        .post-author-pic
        .post-info-right-side
          .post-author
          .post-author-reputation
          .post-cat
          .post-date
    .post-body
    .post-footer
      .tag-list
      .post-info-bar
        .post-date
        .post-author
        .post-author-reputation
        .post-interaction
          .post-resteem
          .post-leave-comment
          .post-comment-count
      .post-voting
        .post-up-vote
        .post-total
          a
            .cur-prefix
      .post-voters
   */

  margin: auto;
  width: 800px;

  .post-header {
    @include clearfix();

    border-bottom: 1px solid $seperatorColor;
    margin-bottom: 15px;
    padding-bottom: 7px;

    h1.post-title {
      font-size: 32px;
      line-height: 140%;
      margin: 30px 0 30px 0;
    }

    .post-info-bar {
      align-items: center;
      display: flex;
      font-size: 18px;
      margin: 1rem 0 1rem 0;

      .post-author-pic {
        background-color: $profilePicBg;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 50%;
        float: left;
        height: 40px;
        width: 40px;
      }

      .post-info-right-side {

        margin-left: 13px;

        .post-author {
          font-weight: 600;
          line-height: 100%;
          position: relative;
          a {
            outline: 0;
          }
        }

        .post-author-reputation {
          font-size: 14px;
          margin-right: 8px;

          &:before {
            content: '(';
          }
          &:after {
            content: ')';
          }
        }

        .post-cat {
          margin-right: 2px;

          a {
            font-weight: bold;
          }

          &:after {
            content: '•';
            padding-left: 6px;
          }
        }

        .post-cat, .post-date {
          color: $textColorLight;

          a {
            color: $textColorLight;
          }
        }
      }
    }
  }

  .post-body {
    padding: 0 0 2rem 0;
  }

  .post-footer {
    @include clearfix();

    border-bottom: 1px solid $seperatorColor;
    margin-bottom: 20px;
    padding-bottom: 20px;

    .tag-list {
      margin: 0 0 1.5rem 0;

      width: 100%;

      a {
        background: $boxBg;
        border: 1px solid $seperatorColor;

        border-radius: 0.3rem;
        display: inline-block;
        margin: 0.1rem 0.4rem 0.1rem 0;
        padding: 0.4rem 1rem;
      }
    }

    .post-info-bar {
      margin: 0 0 2rem 0;

      @include clearfix();

      .post-date {

      }

      .post-author {
        font-weight: 600;
        a {
          outline: 0;
        }
      }

      .post-date, .post-author {
        color: $textColorLight;
        font-size: 14px;
      }

      .post-author-reputation {
        color: $textColor;
        font-size: 12px;
        margin-right: 24px;

        &:before {
          content: '(';
        }
        &:after {
          content: ')';
        }
      }

      .post-interaction {
        float: right;
        line-height: 150%;

        .post-resteem, .post-leave-comment, .post-comment-count {
          color: $textColorLight;
          float: left;
        }

        .post-resteem, .post-leave-comment {
          border-right: 1px solid $seperatorColor;
          margin-right: 10px;
          padding-right: 10px;
        }

        .post-resteem {
          font-size: 15px;
        }

        .post-leave-comment, .post-comment-count {
          font-size: 14px;
        }
      }
    }

    .post-voting {
      border-right: 1px solid $seperatorColor;
      float: left;
      margin-right: 10px;
      padding-right: 10px;

      .post-up-vote {
        float: left;
        margin-right: 7px;

        a {
          color: $textColorLight;
          font-size: 16px;
          line-height: 16px;
        }
      }

      .post-total {
        float: left;
        position: relative;

        a {
          color: $textColorLight;
          outline: 0;

          .cur-prefix {

          }

          &.payout-declined {
            color: $textColorLighter;
            text-decoration: line-through;
          }
        }
      }
    }

    .post-voters {
      float: left;

      a {
        color: $textColorLight;

        .fa {
          margin-right: 6px;
        }

        &:hover {
          .fa {
            color: $linkHoverColor;
          }
        }
      }
    }

    .post-voting, .post-voters {
      font-size: 14px;
    }

  }

  .post-comment-list {
    .comment-list-header, .comment-list-footer {
      @include clearfix();
      margin: 10px 0;

      .list-pagination {
        float: right;

        .page-label, .cur-page, .total-pages {
          color: $textColorLight
        }

        .cur-page {
          &:after {
            content: "/";
            margin-right: 4px;
            padding-left: 4px;
          }
        }

        .btn-prev, .btn-next {
          color: $linkHoverColor;
          &.disabled {
            color: $textColorLighter;
            pointer-events: none;
          }
        }

        .btn-prev {
          margin-left: 5px;
          margin-right: 5px;
        }

      }
    }
  }

  .post-comment-list-empty {
    color: $textColorLight;
    font-style: italic;
  }
}

.comment-list-item {
  @include clearfix();

  .comment-list-item-inner {
    @include clearfix();
    margin-bottom: 25px;

    .comment-author-pic {
      background: $profilePicBg;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 50%;
      float: left;
      height: 48px;
      width: 48px;
    }

    .comment-header, .comment-body, .comment-footer {
      margin-left: 60px;
    }

    .comment-header {
      font-size: 14px;

      .comment-author {
        font-weight: 600;
        position: relative;
        a {
          outline: 0;
        }
      }

      .comment-author-reputation {
        color: $textColor;
        font-size: 13px;
        &:before {
          content: '(';
        }
        &:after {
          content: ')';
        }
      }

      .comment-date {
        color: $textColorLight;

        &:before {
          content: '•';

          margin-left: 6px;
          margin-right: 5px;
        }
      }
    }

    .comment-body {
      @include clearfix();

      padding: 0.2em 0;
    }

    .comment-footer {
      @include clearfix();

      font-size: 13px;

      .comment-voting {
        border-right: 1px solid $seperatorColor;
        float: left;
        margin-right: 10px;
        padding-right: 10px;

        .comment-up-vote {
          float: left;
          margin-right: 7px;

          a {
            color: $textColorLight;
            font-size: 16px;
            line-height: 16px;
          }
        }

        .comment-total {
          float: left;
          position: relative;

          a {
            color: $textColorLight;
            outline: 0;

            .cur-prefix {

            }

            &.payout-declined {
              color: $textColorLighter;
              text-decoration: line-through;
            }
          }
        }
      }

      .comment-voters {
        border-right: 1px solid $seperatorColor;
        float: left;
        margin-right: 10px;
        padding-right: 10px;

        a {
          color: $textColorLight;
        }
      }

      .comment-reply {
        a {
          color: $textColorLight;
        }
      }
    }
  }

  .comment-list {
    @include clearfix();
    margin-left: 10%;
    width: calc(100% - 10%);
  }
}

.author-popover-content {
  @include clearfix();
  width: 240px;

  .author-pic {
    background-color: $profilePicBg;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    float: left;
    height: 80px;
    width: 80px;
  }

  .popover-content-right {
    width: 144px;
    float: right;

    .author-name, .author-username {
      margin-bottom: 6px;
    }

    .author-name {
      font-weight: 600;
      font-size: 16px;

    }

    .author-username {
      font-size: 13px;
      color: $textColorLight;
    }

    .author-name, .author-username {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 100%;
    }

    .author-follow {

    }

  }

  .author-bio {
    color: $textColorLighter;
    font-size: 13px;
    line-height: 120%;
    word-break: break-all;
    margin-top: 16px;

  }
}

.content-payout-popover-content {
  .table {
    font-size: 90%;
    margin: 0;
    width: 250px;

    tr {
      td, th {
        padding: 6px 4px;
      }

      &:first-of-type {
        td, th {
          border-top: 0
        }
      }
    }
  }
}

.content-voters-modal {
  .modal-body {
    .indicator {
      font-size: 20px;
      text-align: center;

      .loading-icon {
        color: $loadingColor;
      }
    }

    .data-list {
      max-height: 300px;
      overflow-y: auto;
    }
  }
}

.settings-modal {
  .modal-body {
    .server-control {

      .server-list {
        max-height: 120px;
        border: 1px solid $listBorderColor;
        overflow-x: auto;
        margin-bottom: 10px;

        .table {
          margin: 0;
          tr:first-of-type {
            td {
              border-top: 0
            }
          }

          tr {
            td {
              a {
                text-decoration: underline;
              }
            }
          }
        }
      }
    }

    .alert {
      margin: 10px 0;
      padding: 10px;
    }
  }
  .modal-footer {
    .indicator {
      display: inline-block;
      font-size: 18px;
      height: 34px;
      padding-top: 5px;
      text-align: center;
      vertical-align: middle;
      width: 30px;

      .loading-icon {
        color: $loadingColor;
      }
      .success-icon {
        color: $loadingSuccessColor;
      }
    }
  }
}
