a[ng-click] {
  cursor: pointer;
}

a.disabled-link {
  pointer-events: none;
  cursor: default;
  color: $textColorLighter;
}

.btn:focus {
  outline: none;
}

.alert {
  padding: 10px;
}

.popover{
  z-index: 1035 !important
}
