input[type="text"].form-control, input[type="password"].form-control, input[type="datetime-local"].form-control {
  background: #202a37;
  border-color: #224B65;
  color: #cecece;
  &::placeholder {
    color: #2b394a !important;
  }
}

textarea.form-control {
  background: #202a37;
  color: #cecece;
  &::placeholder {
    color: #2b394a !important;
  }
}

select {
  background: #202a37;
  border-color: #224B65;
  color: #cecece;
}

// BUTTONS
.btn-default {
  background: #1E2835;
  border-color: #224B65;
  color: #fff;
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default {
  background: #1E3140;
  border-color: #224B65;
}

.btn-default:active, .btn-default.active {
  background: #007299;
  box-shadow: none;
}

.btn-primary {
  background: #3682B0;
  border-color: #2a6588;
  color: #fff;
}

// POPOVER
.popover {
  background-color: #2a384a;

  &.bottom > .arrow {
    &:after {
      border-bottom-color: #2a384a;
    }
  }

  &.right > .arrow {
    &:after {
      border-right-color: #2a384a;
    }
  }

  &.top > .arrow {
    &:after {
      border-top-color: #2a384a;
    }
  }
}

// MODAL
.modal-content {
  background-color: #2a384a;
  color: $textColor;
}

.modal-header {
  border-bottom-color: $seperatorColor;
}

.modal-header .close {
  color: $textColor;
}

.modal-footer {
  border-top-color: $seperatorColor;
}

// TABLE
.table {
  border-color: $seperatorColor !important;

  th, td {
    border-color: $seperatorColor !important;
  }

}

.table-striped {
  > tbody > tr:nth-of-type(odd) {
    background-color: $altRowColor;
  }
}

// INPUT GROUP
.input-group-addon {
  background: #3d4f68;
  border-color: #224B65;
  color: $textColor;
}

// Navbar

.author-navbar, .fn-navbar {

  background-color: $navbarBgColorDefault;

  border: 0;

  // Coloring created with https://work.smarchal.com/twbscolor/
  border-radius: 0;

  margin-bottom: 0;
  .container-fluid {
    padding-right: 2px;
  }
  .navbar-brand {
    color: $navbarColorDefault;
    &:hover, &:focus {
      color: $navbarColorHighlight;
    }
  }

  .navbar-text {
    color: $navbarColorDefault;
  }
  .navbar-nav {
    > li {
      > a {
        color: $navbarColorDefault;
        &:hover, &:focus {
          color: darken($textColor, 5) !important;
        }
      }

      > .dropdown-menu {
        background-color: $navbarBgColorDefault;
        > li {
          > a {
            color: $navbarColorDefault;
            &:hover, &:focus {
              background-color: $navbarBgColorHighlight;
              color: darken($textColor, 5) !important;
            }
          }
          &.divider {
            background-color: $navbarBgColorHighlight;
          }
        }
      }

    }

    .open .dropdown-menu > .active {
      > a, > a:hover, > a:focus {
        background-color: $navbarBgColorHighlight;
        color: $navbarColorHighlight;
      }
    }

    > .active {
      > a, > a:hover, > a:focus {
        background-color: $navbarBgColorHighlight;
        color: $navbarColorHighlight;
      }
    }
    > .open {
      > a, > a:hover, > a:focus {
        background-color: $navbarBgColorHighlight;
        color: $navbarColorHighlight;
      }
    }
  }
  user-select: none;
}

.app-navbar {
  .navbar-form {
    .input-group-addon {
      background: #202a37;
    }

    .input-group-btn {
      button {
        background: #202a37;
      }

      .dropdown-menu {
        background-color: $navbarBgColorDefault;

        > li {
          > a {
            color: $navbarColorDefault;
            &:hover, &:focus {
              background-color: $navbarBgColorHighlight;
              color: darken($textColor, 5) !important;
            }
          }
          &.divider {
            background-color: $navbarBgColorHighlight;
          }
        }
      }
    }
  }
}
