@import "~bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/_mixins.scss";

.root {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}


.app-container {
  background: $appBg;
  box-sizing: border-box;
  color: $textColor;
  height: calc(100% - #{$navbar-height + $footerHeight});
  overflow-y: auto;

  padding: 20px;

  a {
    color: $textColor;
    &:hover {
      color: $linkHoverColor !important;
      text-decoration: none;
    }
  }
}


.app-content {
  @include clearfix();
  margin: auto;
  max-width: 1300px;
  width: 100%;
}
