@import "~bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/_mixins.scss";

.error-messages {
  background: rgb(239, 132, 130);
  border-radius: 6px;
  bottom: 60px;
  color: #571010;
  font-size: 14px;
  max-height: 400px;
  overflow: auto;
  position: fixed;
  right: 60px;
  width: 360px;
  z-index: 999999;

  .error-message {
    padding: 7px;

    &:not(:last-child) {
      border-bottom: 1px dashed rgba(87, 16, 16, 0.3);
      margin-bottom: 7px;
    }
  }
}

.root {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.app-container {
  background: $appBg;
  box-sizing: border-box;
  color: $textColor;
  height: calc(100% - #{$navbar-height + $footerHeight});
  overflow-y: auto;

  a {
    &:hover {
      color: $linkHoverColor !important;
      text-decoration: none;
    }
  }
}

.app-content {
  @include clearfix();
  margin: auto;
  max-width: 1600px;
  padding: 20px;
  width: 100%;
}

.posts-page, .feed-page, .search-page {
  .post-list {
    background: $listBgColor;
    border: 1px solid $listBorderColor;
    box-shadow: 0 0 1px 0 $listBorderColor;
    float: right;
    margin-left: 20px;
    min-height: 100%;
    padding: 20px 30px;
    width: calc(100% - 220px);

    header {
      border-bottom: 1px solid $seperatorColor;
      margin-bottom: 20px;
      padding-bottom: 10px;
      @include clearfix();

      h1 {
        color: $text-color;
        float: left;
        font-size: 18px;
        font-weight: 600;
        margin: 0;

        .btn-remove-tag {
          opacity: 0.3;
          &:hover {
            opacity: 1;
          }
        }
      }

      .btn-reload {
        color: $loadingColor;
        float: right;
        font-size: 16px;
      }
    }

    ul.feed {
      margin: 0;
      padding: 0;

      > li {
        border-bottom: 1px solid $seperatorColor;
        list-style: none;
        margin-bottom: 10px;
        padding: 10px 0;
      }
    }

    footer {
      text-align: center;

      .fa {
        color: $loadingColor;
        font-size: 30px;
      }
    }
  }
}

.search-page {

  .account-suggestions {

    margin-bottom: 20px;
    overflow: auto;
    padding-bottom: 10px;
    white-space: nowrap;

    .title {
      font-size: 18px;
      line-height: 18px;
      margin: 0 0 10px 0;
    }

    .account-card {
      background: $listBgColor;
      border: 1px solid $listBorderColor;
      box-shadow: 0 0 1px 0 $listBorderColor;
      cursor: pointer;
      display: inline-block;
      padding: 6px;
      text-align: center;
      width: 117px;

      .account-pic {
        background: $profilePicBg;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 50%;
        height: 60px;
        margin: 0 auto 10px auto;
        width: 60px;
      }

      .account-name {
        font-size: 13px;
        font-weight: 600;
        overflow: hidden;

        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;
        &:before {
          content: '@';
        }
      }

      &:not(:last-child) {
        margin-right: 10px;
      }
    }
  }

  .post-list {
    width: 100%;

    header {
      h1 {
        .results-found {
          font-size: 14px;
          font-weight: 400;
        }
      }
    }

  }
}

.post-page {
  .indicator {
    text-align: center;

    .fa {
      color: $loadingColor;
      font-size: 30px;
    }
  }
}

.author-page {
  max-width: 100%;
  padding: 0;

  .indicator {
    padding-top: 20px;
    text-align: center;

    .fa {
      color: $loadingColor;
      font-size: 30px;
    }
  }

  .the-author {
    .author-header {
      height: 200px;
      position: relative;

      .control-box {
        position: absolute;
        right: 20px;
        top: 20px;
      }

      .cover-image {
        background-color: #171F24;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;
        height: 155px;
      }

      .profile-image-holder {
        margin: auto;
        max-width: 1300px;
        position: relative;

        .profile-image {
          background-color: $profilePicBg;
          background-position: 50% 50%;
          background-repeat: no-repeat;
          background-size: cover;
          border: 5px solid lighten($seperatorColor, 50);
          border-radius: 50%;
          bottom: -40px;

          height: 140px;
          left: 50px;
          position: absolute;
          width: 140px;
          z-index: 10;

          .author-reputation {
            background-color: lighten($themePrimaryTone, 20);
            border: 5px solid lighten($seperatorColor, 50);
            border-radius: 50%;
            color: $textColorLightest;
            height: 40px;
            line-height: 100%;
            padding-top: 7px;
            position: absolute;
            right: -10px;
            text-align: center;
            top: 0;
            width: 40px;
          }
        }

      }

      .author-navbar {
        border-left: none;
        border-radius: 0;
        border-right: none;
        border-top: none;
        margin: 0;
        .container-fluid {
          margin: auto;
          max-width: 1300px;
          padding-left: 263px;
        }
      }
    }

    .author-content {
      @include clearfix();
      margin: auto;
      max-width: 1300px;
      padding: 20px;
      width: 100%;

      .author-content-left {
        float: left;
        width: 240px;

        .author-name {
          font-size: 20px;
          font-weight: 600;
          margin-bottom: 4px;
        }

        .author-username {
          color: $linkHoverColor;
          font-size: 18px;
          font-weight: 600;
          margin-bottom: 20px;
        }

        .author-bio {
          color: $textColorLight;
          margin-bottom: 20px;
        }

        .author-prop {
          align-items: center;
          color: $textColorLight;
          display: flex;
          margin-bottom: 13px;

          .prop-key {
            display: inline-block;
            font-size: 15px;
            width: 26px;
          }

          .prop-value {
            display: inline-block;

            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: calc(100% - 26px);
          }

          a {
            color: $textColorLight;

            &:hover {
              text-decoration: underline;
            }
          }

        }
      }

      .author-content-right {
        float: right;
        width: calc(100% - 260px);

        .content-list {
          background: $listBgColor;
          border: 1px solid $listBorderColor;
          box-shadow: 0 0 1px 0 $listBorderColor;
          padding: 12px 25px 15px 25px;
          position: relative;

          header {
            border-bottom: 1px solid $seperatorColor;
            margin-bottom: 20px;
            padding-bottom: 10px;
            @include clearfix();

            h1 {
              color: $text-color;
              float: left;
              font-size: 20px;
              font-weight: 600;
              margin: 8px 0 0 0;
            }

            .btn-reload {
              color: $loadingColor;
              float: right;
              font-size: 16px;
            }
          }

          ul.feed {
            margin: 0;
            padding: 0;

            > li {
              border-bottom: 1px solid $seperatorColor;
              list-style: none;
              margin-bottom: 10px;
              padding: 10px 0;
            }
          }

          .author-wallet {
            .row {
              margin: 0 0 10px 0;
              padding: 10px 0;

              .help-block {
                margin: 0
              }

              &.alternate {
                background-color: $altRowColor;
              }

              .col-key {
                span {
                  font-weight: 600;
                }
              }

              .col-value {
                padding-top: 10px;
                text-align: right;

                span {
                  display: block;
                  margin-bottom: 4px;
                }
              }
            }

            .section-header {
              font-size: 20px;
              margin: 20px 0 16px 0;
            }

            .next-power-down {
              background: $highlightColor;
              display: inline-block;
              margin: 20px 0;
              padding: 3px;
            }
          }

          footer {
            text-align: center;

            .fa {
              color: $loadingColor;
              font-size: 30px;
            }
          }
        }

      }
    }
  }
}

.static-page {

}

.dynamic-page {
  h1.page-title {
    font-size: 26px;
    margin: 0 0 20px 0;
  }
}

.editor-page {

  /*
  .editor-form, .editor-preview {
    margin: auto;
    width: 800px;
  }
  */

  .editor-form {
    margin-bottom: 30px;
    width: 100%;

    .editing-part, .preview-part {
      float: left;
      width: 50%;
    }

    .editing-part {
      background: #e6e6e6;
      padding-left: 40px;
      position: relative;

      /*
      .editor-tools {
        position: absolute;
        width: 40px;
        height: 100%;
        left: 0;
        top: 0;
        background: #e6e6e6;
      }
      */

      .content-title, .content-body, .content-tags {
        margin: 0;

        input, textarea {
          border: 0;
          border-radius: 0;
          box-shadow: none;

          &::placeholder {
            color: #d2d2d2;
          }
        }
      }

      /*
      .content-body {
        textarea {
          resize: none;
          height: 560px;
          @media (min-height: 1000px) {
            height: 760px;
          }
        }
      }

      */
    }

    .preview-part {
      background: green;
    }

  }

  .editor-preview {

    .preview-title {
      display: block;
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 20px;
    }
  }
}

.comment-reply-window {
  background: $appBg;
  border-top: 1px solid darken($appBg, 10%);
  bottom: $footerHeight;
  height: 240px;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 100;

  .editor-part {
    border-right: 1px solid #e6e6e6;
    float: left;
    height: 100%;
    position: relative;
    width: 50%;

    .editor-part-header {
      background: #f8f8f8;
      height: 32px;

      .content-editor-controls {
        float: left;
        button {
          background: transparent;
          border: none;
          border-radius: 0;
          margin: 0;
        }
      }

      .additional-controls {
        align-items: center;
        display: flex;
        float: right;
        height: 32px;
        padding-right: 10px;

        .btn:not(:last-child) {
          margin-right: 10px;
        }
      }
    }

    .content-editor {
      height: calc(100% - 32px);
      textarea {
        height: 100%;
      }
    }
  }

  .preview-part {
    float: left;
    height: 100%;
    width: 50%;

    .content-preview-title {
      background: #f8f8f8;

      height: 32px;
      padding: 4px;
      @include clearfix();

      h2 {
        float: left;
        font-size: 16px;
        font-weight: 600;
        margin: 0;
        padding-top: 3px;
        width: 140px;
      }

      .replying-to {
        display: inline-block;
        float: right;

        font-size: 12px;

        max-width: calc(100% - 140px);
        overflow: hidden;
        padding-right: 3px;
        padding-top: 3px;
        text-overflow: ellipsis;

        white-space: nowrap;

      }
    }

    .content-preview-body {
      height: calc(100% - 32px);
      overflow: auto;
      padding: 10px;
    }
  }
}
