@import "~bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/_mixins.scss";

.error-messages, .success-messages {
  border-radius: 6px;
  font-size: 14px;
  max-height: 400px;
  overflow: auto;
  position: fixed;
  right: 60px;
  width: 360px;
  z-index: 999999;

  .message {
    padding: 7px;

    &:not(:last-child) {
      margin-bottom: 7px;
    }
  }
}

.error-messages {
  background: #f2dede;
  border: 1px solid #ebcccc;
  bottom: 60px;
  color: #a94442;

  .message {
    &:not(:last-child) {
      border-bottom: 1px dashed #ebcccc;
    }
  }
}

.success-messages {
  background: #dff0d8;
  border: 1px solid #d0e9c6;
  color: #3c763d;
  top: 60px;

  .message {
    &:not(:last-child) {
      border-bottom: 1px dashed #d0e9c6;
    }
  }
}

.root {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.app-container {
  background: $appBg;
  box-sizing: border-box;
  color: $textColor;
  height: calc(100% - #{$navbar-height + $footerHeight});
  overflow-y: auto;

  a {
    &:hover {
      color: $linkHoverColor !important;
      text-decoration: none;
    }
  }
}

.app-content {
  @include clearfix();
  margin: auto;
  max-width: 1600px;
  padding: 20px;
  width: 100%;
}

.posts-page, .feed-page, .search-page {
  .post-list {
    background: $listBgColor;
    border: 1px solid $listBorderColor;
    box-shadow: 0 0 1px 0 $listBorderColor;
    float: right;
    margin-left: 20px;
    min-height: 100%;
    padding: 20px 30px;
    width: calc(100% - 220px);

    header {
      border-bottom: 1px solid $seperatorColor;
      margin-bottom: 20px;
      padding-bottom: 10px;
      @include clearfix();

      h1 {
        color: $text-color;
        float: left;
        font-size: 18px;
        font-weight: 600;
        margin: 0;

        .btn-remove-tag {
          opacity: 0.3;
          &:hover {
            opacity: 1;
          }
        }
      }

      .btn-reload {
        color: $loadingColor;
        float: right;
        font-size: 16px;
      }
    }

    ul.feed {
      margin: 0;
      padding: 0;

      > li {
        border-bottom: 1px solid $seperatorColor;
        list-style: none;
        margin-bottom: 10px;
        padding: 10px 0;
      }
    }

    footer {
      text-align: center;

      .fa {
        color: $loadingColor;
        font-size: 30px;
      }
    }
  }
}

.search-page {
  .account-suggestions {

    margin-bottom: 20px;
    overflow: auto;
    padding-bottom: 10px;
    white-space: nowrap;

    .title {
      font-size: 18px;
      line-height: 18px;
      margin: 0 0 10px 0;
    }

    .account-card {
      background: $listBgColor;
      border: 1px solid $listBorderColor;
      box-shadow: 0 0 1px 0 $listBorderColor;
      cursor: pointer;
      display: inline-block;
      padding: 6px;
      text-align: center;
      width: 117px;

      .account-pic {
        background: $profilePicBg;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 50%;
        height: 60px;
        margin: 0 auto 10px auto;
        width: 60px;
      }

      .account-name {
        font-size: 13px;
        font-weight: 600;
        overflow: hidden;

        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;
        &:before {
          content: '@';
        }
      }

      &:not(:last-child) {
        margin-right: 10px;
      }
    }
  }

  .post-list {
    width: 100%;

    header {
      h1 {
        .results-found {
          font-size: 14px;
          font-weight: 400;
        }
      }
    }
  }
}

.drafts-page, .schedules-page, .gallery-page {
  .item-list {
    background: $listBgColor;
    border: 1px solid $listBorderColor;
    box-shadow: 0 0 1px 0 $listBorderColor;
    float: right;
    margin-left: 20px;
    min-height: 100%;
    padding: 20px 30px;
    width: 100%;

    header {
      border-bottom: 1px solid $seperatorColor;
      margin-bottom: 20px;
      padding-bottom: 10px;
      @include clearfix();

      h1 {
        color: $text-color;
        float: left;
        font-size: 18px;
        font-weight: 600;
        margin: 0;

        .btn-remove-tag {
          opacity: 0.3;
          &:hover {
            opacity: 1;
          }
        }
      }

    }

    ul.feed {
      margin: 0;
      padding: 0;

      > li {
        border-bottom: 1px solid $seperatorColor;
        list-style: none;
        margin: 0;
        padding: 0;
      }
    }

    footer {
      text-align: center;

      .fa {
        color: $loadingColor;
        font-size: 30px;
      }
    }
  }
}

.gallery-page {
  .item-list {
    ul.feed {
      column-count: 4;
      column-gap: 1em;

      > li {
        display: inline-block;
        margin: 0 0 1em;
        width: 100%;
      }
    }
  }
}

.post-page {
  .indicator {
    text-align: center;

    .fa {
      color: $loadingColor;
      font-size: 30px;
    }
  }
}

.author-page {
  max-width: 100%;
  padding: 0;

  .indicator {
    padding-top: 20px;
    text-align: center;

    .fa {
      color: $loadingColor;
      font-size: 30px;
    }
  }

  .the-author {
    .author-header {
      height: 200px;
      position: relative;

      .control-box {
        position: absolute;
        right: 20px;
        top: 20px;
      }

      .control-box2 {
        position: absolute;
        right: 20px;
        bottom: 64px;

        .btn-fav {
          .fa {
            color: indianred;
          }
        }
      }

      .cover-image {
        background-color: #171F24;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;
        height: 155px;
      }

      .profile-image-holder {
        margin: auto;
        max-width: 1300px;
        position: relative;

        .profile-image {
          background-color: $profilePicBg;
          background-position: 50% 50%;
          background-repeat: no-repeat;
          background-size: cover;
          border: 5px solid lighten($seperatorColor, 50);
          border-radius: 50%;
          bottom: -40px;

          height: 140px;
          left: 50px;
          position: absolute;
          width: 140px;
          z-index: 10;

          .author-reputation {
            background-color: lighten($themePrimaryTone, 20);
            border: 5px solid lighten($seperatorColor, 50);
            border-radius: 50%;
            color: $textColorLightest;
            height: 40px;
            line-height: 100%;
            padding-top: 7px;
            position: absolute;
            right: -10px;
            text-align: center;
            top: 0;
            width: 40px;
          }
        }

      }

      .author-navbar {
        border-left: none;
        border-radius: 0;
        border-right: none;
        border-top: none;
        margin: 0;
        .container-fluid {
          margin: auto;
          max-width: 1300px;
          padding-left: 263px;
        }
      }
    }

    .author-content {
      @include clearfix();
      margin: auto;
      max-width: 1300px;
      padding: 20px;
      width: 100%;

      .author-content-left {
        float: left;
        width: 240px;

        .author-name {
          font-size: 20px;
          font-weight: 600;
          margin-bottom: 4px;
        }

        .author-username {
          color: $linkHoverColor;
          font-size: 18px;
          font-weight: 600;
          margin-bottom: 20px;
        }

        .author-bio {
          color: $textColorLight;
          margin-bottom: 20px;
        }

        .author-prop {
          align-items: center;
          color: $textColorLight;
          display: flex;
          margin-bottom: 13px;

          .prop-key {
            display: inline-block;
            font-size: 15px;
            width: 26px;
          }

          .prop-value {
            display: inline-block;

            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: calc(100% - 26px);
          }

          a {
            color: $textColorLight;

            &:hover {
              text-decoration: underline;
            }
          }

        }
      }

      .author-content-right {
        float: right;
        width: calc(100% - 260px);

        .content-list {
          background: $listBgColor;
          border: 1px solid $listBorderColor;
          box-shadow: 0 0 1px 0 $listBorderColor;
          padding: 12px 25px 15px 25px;
          position: relative;

          header {
            border-bottom: 1px solid $seperatorColor;
            margin-bottom: 20px;
            padding-bottom: 10px;
            @include clearfix();

            h1 {
              color: $text-color;
              float: left;
              font-size: 20px;
              font-weight: 600;
              margin: 8px 0 0 0;
            }

            .btn-reload {
              color: $loadingColor;
              float: right;
              font-size: 16px;
            }
          }

          ul.feed {
            margin: 0;
            padding: 0;

            > li {
              border-bottom: 1px solid $seperatorColor;
              list-style: none;
              margin-bottom: 10px;
              padding: 10px 0;
            }
          }

          .author-wallet {
            .row {
              margin: 0 0 10px 0;
              padding: 10px 0;

              .help-block {
                margin: 0
              }

              &.alternate {
                background-color: $altRowColor;
              }

              .col-key {
                span {
                  font-weight: 600;
                }
              }

              .col-value {
                padding-top: 10px;
                text-align: right;

                span {
                  display: block;
                  margin-bottom: 4px;
                }
              }
            }

            .section-header {
              font-size: 20px;
              margin: 20px 0 16px 0;
            }

            .next-power-down {
              background: $highlightColor;
              display: inline-block;
              margin: 20px 0;
              padding: 3px;
            }
          }

          footer {
            text-align: center;

            .fa {
              color: $loadingColor;
              font-size: 30px;
            }
          }

          .activities {

            .activities-type-select {
              margin-bottom: 20px;
              width: 300px;
            }

            .activity-list {
              .group {
                .group-title {
                  background: $altRowColor;
                  font-size: 18px;
                  font-weight: bold;
                  margin-bottom: 12px;
                  padding: 6px;
                }

                .record {
                  @include clearfix();

                  margin-bottom: 16px;
                  padding: 4px;

                  &:hover {
                    background: $altRowColor;
                  }

                  .record-pic {
                    background: $profilePicBg;
                    background-position: 50% 50%;
                    background-repeat: no-repeat;
                    background-size: cover;
                    border-radius: 50%;
                    cursor: pointer;
                    float: left;
                    height: 40px;
                    margin-right: 10px;
                    width: 40px;
                  }

                  .record-content {
                    float: left;
                    width: calc(100% - 50px);
                    .record-line-1, .record-line-2 {
                      cursor: pointer;
                      margin: 0;
                    }

                    .record-line-1 {
                      font-size: 16px;
                    }

                    .record-line-2 {
                      color: $textColorLight;
                    }
                  }
                }
              }

              &.votes-list {
                .group {
                  .record {
                    .record-content {
                      cursor: pointer;
                    }
                  }
                }
              }

              &.replies-list {
                .group {
                  .record {
                    .record-content {
                      .markdown-view {
                        cursor: pointer;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.static-page {

}

.dynamic-page {
  h1.page-title {
    font-size: 26px;
    margin: 0 0 20px 0;
  }
}

.editor-page {

  .indicator {
    text-align: center;

    .fa {
      color: $loadingColor;
      font-size: 30px;
    }
  }

  .editor-form {
    @include clearfix();

    border-bottom: 1px solid $seperatorColor;
    border-top: 1px solid $seperatorColor;
    margin-bottom: 20px;
    position: relative;
    width: 100%;

    .editing-part {
      float: left;
      padding-left: 36px;

      position: relative;
      width: 50%;

      .left-bar {
        background: $contentEditorControlsBg;
        height: 100%;
        left: 0;
        padding-top: 46px;
        position: absolute;
        width: 36px;

        .content-editor-controls {
          .btn {
            width: 100%;
          }
        }
      }

      .content-editor {
        textarea {
          height: 420px;

          @media (min-height: 800px) {
            height: 530px;
          }

          @media (min-height: 1000px) {
            height: 730px;
          }
        }
      }

      .content-title, .content-body, .content-tags {
        margin: 0;

        input, textarea {
          border: 0;
          border-radius: 0;
          box-shadow: none;

          &::placeholder {
            color: #d2d2d2;
          }

          &.error {
            background: #f2dede;
          }
        }
      }

      .content-tags {
        position: relative;
        .tag-err {
          background: $editorTagErrBg;
          color: #ff6557;
          height: 30px;
          left: 0;
          padding: 10px;
          position: absolute;
          right: 0;
          top: -30px;
        }
      }
    }

    .preview-part {
      bottom: 0;
      height: 100%;
      overflow: auto;
      padding-left: 10px;
      position: absolute;
      right: 0;
      top: 0;
      width: calc(50% - 10px);
      .preview-part-title {
        color: $textColorLighter;
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 10px;
        margin-top: 10px;
      }
    }

  }

  .editor-controls {
    .content-settings {
      float: left;
      margin-right: 1%;
      width: 49%;

      .form-group {
        margin-right: 20px;

        select {
          margin-left: 10px;
          width: 200px;
        }
      }
    }

    .control-buttons {
      float: right;
      width: 50%;

      .dropup {
        float: left;
        margin-right: 10px;
      }
    }
  }
}

.discover-page {
  .indicator {
    text-align: center;

    .fa {
      color: $loadingColor;
      font-size: 30px;
    }
  }

  .author-list {
    header {
      margin-bottom: 20px;
      text-align: center;
      .btn-reload {
        color: $loadingColor;
        font-size: 16px;
      }
    }

    ul {
      margin: 0;
      padding: 0;

      li {
        display: inline-block;
        list-style: none;
        margin-bottom: 26px;
        margin-left: 14px;
        margin-right: 14px;
        width: 200px;
      }
    }
  }
}

.transfer-fn-page {
  .fn-window {
    background: $listBgColor;
    border: 1px solid $listBorderColor;
    box-shadow: 0 0 1px 0 $listBorderColor;
    margin: auto;
    padding: 0 0 20px 0;
    width: 600px;

    .indicator {
      text-align: center;

      .fa {
        color: $loadingColor;
        font-size: 30px;
      }
    }

    .fn-navbar {
      border-left: none;
      border-radius: 0;
      border-right: none;
      border-top: none;
      margin: 0 0 20px 0;
      .container-fluid {
        padding-left: 0;
        padding-right: 0;
      }
    }

    .fn-form {

      padding: 0 20px;

      .form-header {
        font-size: 22px;
        margin: 0;
      }

      .balance-block {
        border-bottom: 1px dotted $textColor;
        color: $textColorLight;
        display: inline-block;
        margin: 4px 0;

        .copy-balance {
          cursor: pointer;
        }
      }

    }
  }

  &.fn-power-down {

    .fn-window {
      width: 800px;

      .table-routes {
        th, td {
          font-size: 13px;
          vertical-align: middle;
        }

        td {
          width: 30px;
        }
      }

      .rz-bubble {
        font-size: 12px;
      }

      .power-down-preview {
        margin: 40px 0 30px;
        text-align: center;

        .before, .arrow {
          margin-bottom: 20px;
        }

        .after {
          small {
            color: $textColorLight;
            line-height: 250%;
          }
        }

        .label {
          display: inline-block;
          font-size: 20px;
          font-weight: 400;
          min-width: 230px;
          padding-bottom: 8px;
          padding-top: 8px;

        }

        .arrow {
          .arrow-icon {
            color: $textColorLight;
            font-size: 22px;
            margin-left: 10px;
            margin-right: 10px;
          }
        }
      }

      .incoming-funds {
        font-size: 14px;

        .steem {
          font-size: 16px;
          font-weight: bold;
        }
      }
    }
  }
}

.welcome-page {
  background: $appBg;
  height: 100%;
  overflow: auto;

  .carousel-container {
    background: $listBgColor;
    border: 1px solid $listBorderColor;
    box-shadow: 0 0 1px 0 $listBorderColor;
    height: 560px;
    margin: 50px auto 0 auto;
    width: 900px;

    .carousel-content {
      height: 560px;
      position: relative;
      width: 900px;

      .carousel-image {
        left: 0;
        max-height: 558px;
        max-width: 700px;
        position: absolute;
        z-index: 1;

      }

      .carousel-text-content {
        padding-top: 100px;
        position: absolute;
        right: 0;
        top: 0;
        width: 400px;
        z-index: 2;

        h2 {
          color: #00647C;
          font-size: 32px;
          margin: 0 0 20px 0;
        }

        p {
          font-size: 18px;
          padding: 0 10px;
        }
      }
    }

    .carousel-control {
      visibility: hidden;
    }

    .carousel-buttons {
      bottom: 50px;
      position: absolute;
      right: 50px;
      z-index: 3;

      .btn {
        width: 90px;

        &.btn-hidden {
          visibility: hidden;
        }

        &.btn-none {
          display: none;
        }
      }
    }

    .carousel-indicators {
      display: none;
      li {
        background: #E0F0F6;
        height: 20px;
        width: 20px;

        &.active {
          background: #00647C;
        }
      }
    }
  }

  user-select: none;

}

.pin-create-page {
  background: $appBg;
  height: 100%;
  overflow: auto;

  .pin-form-container {
    background: $listBgColor;
    border: 1px solid $listBorderColor;
    box-shadow: 0 0 1px 0 $listBorderColor;
    margin: 50px auto 0 auto;
    min-height: 300px;
    padding: 20px;
    width: 600px;

    h1 {
      font-size: 26px;
      margin: 6px 0;
    }

    hr {
      margin: 16px 0;
    }

    .help-block {
      margin: 20px 0;
    }

    .input-group {
      margin: auto;
      width: 280px;
    }
  }

  user-select: none;

}
