// Editor background color
.editor-form {
  .editing-part {
    .content-editor {
      background: #fff;
    }
  }
}


.app-navbar {
  .navbar-form {
    .input-group-addon {
      background: #fff;
    }

    .input-group-btn {
      button {
        background: #fff;
      }
    }
  }
}
