@import "~bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss";

.app-navbar {

  // Coloring created with https://work.smarchal.com/twbscolor/
  background-color: $navbarBgColorDefault;

  border: 0;
  border-radius: 0;
  margin-bottom: 0;

  .navbar-brand {
    color: $navbarColorDefault;
    &:hover, &:focus {
      color: $navbarColorHighlight;
    }
  }
  .navbar-text {
    color: $navbarColorDefault;
  }
  .navbar-nav {
    > li {
      > a {
        color: $navbarColorDefault;
        &:hover, &:focus {
          color: $navbarColorHighlight;
        }
      }
      @if $navbarColorizeDropDown {
        > .dropdown-menu {
          background-color: $navbarBgColorDefault;
          > li {
            > a {
              color: $navbarColorDefault;
              &:hover, &:focus {
                color: $navbarColorHighlight;
                background-color: $navbarBgColorHighlight;
              }
            }
            &.divider {
              background-color: $navbarBgColorHighlight;
            }
          }
        }
      }
    }
    @if $navbarColorizeDropDown {
      .open .dropdown-menu > .active {
        > a, > a:hover, > a:focus {
          color: $navbarColorHighlight;
          background-color: $navbarBgColorHighlight;
        }
      }
    }
    > .active {
      > a, > a:hover, > a:focus {
        background-color: $navbarBgColorHighlight;
        color: $navbarColorHighlight;
      }
    }
    > .open {
      > a, > a:hover, > a:focus {
        background-color: $navbarBgColorHighlight;
        color: $navbarColorHighlight;
      }
    }
  }
  // End of navbar coloring.

  .navbar-toggle {
    border-color: $navbarBgColorHighlight;
    &:hover, &:focus {
      background-color: $navbarBgColorHighlight;
    }
    .icon-bar {
      background-color: $navbarColorDefault;
    }
  }
  .navbar-collapse,
  .navbar-form {
    border-color: $navbarColorDefault;
  }
  .navbar-link {
    color: $navbarColorDefault;
    &:hover {
      color: $navbarColorHighlight;
    }
  }

  .navbar-back {
    float: left;
    height: $navbar-height;
    margin-right: 20px;
    padding: 12px 0 10px 0;
    text-align: center;

    a {
      color: $navbarColorDefault;
      font-size: 20px;
      &:hover, &:focus {
        color: $navbarColorHighlight;
      }
    }

    &.hide-it {
      visibility: hidden;
    }
  }

  .navbar-brand {
    padding-top: 8px;
    img {
      height: 36px;
      width: 36px;
    }
  }

  .navbar-right {
    li {
      a {
        line-height: 100%;
        padding-bottom: 12px;
        padding-top: 13px;
        .fa {
          font-size: 24px;
        }
      }
    }

  }

  .filter-dropdown {
    width: 140px;
    margin-right: 20px;
    margin-left: 20px;
    border-left: 3px solid $navbarColorHighlight;

    .dropdown-toggle {
      .caret {
        float: right;
        margin-top: 10px;
      }
      font-weight: bold;
    }

    ul.dropdown-menu {
      min-width: 138px;
      width: 138px;
      border-radius: 0;
      box-shadow: none;
      padding-top: 0;
      padding-bottom: 0;
      border: 0;

      li {

        a {
          padding-top: 10px;
          padding-bottom: 10px;
        }
      }
    }
  }

  .navbar-form {



  }
}
