.app-navbar {

  // Coloring created with https://work.smarchal.com/twbscolor/
  background-color: $navbarBgColorDefault;

  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  .navbar-brand {
    color: $navbarColorDefault;
    &:hover, &:focus {
      color: $navbarColorHighlight;
    }
  }
  .navbar-text {
    color: $navbarColorDefault;
  }
  .navbar-nav {
    > li {
      > a {
        color: $navbarColorDefault;
        &:hover, &:focus {
          color: $navbarColorHighlight;
        }
      }
      @if $navbarColorizeDropDown {
        > .dropdown-menu {
          background-color: $navbarBgColorDefault;
          > li {
            > a {
              color: $navbarColorDefault;
              &:hover, &:focus {
                color: $navbarColorHighlight;
                background-color: $navbarBgColorHighlight;
              }
            }
            &.divider {
              background-color: $navbarBgColorHighlight;
            }
          }
        }
      }
    }
    @if $navbarColorizeDropDown {
      .open .dropdown-menu > .active {
        > a, > a:hover, > a:focus {
          color: $navbarColorHighlight;
          background-color: $navbarBgColorHighlight;
        }
      }
    }
    > .active {
      > a, > a:hover, > a:focus {
        background-color: $navbarBgColorHighlight;
        color: $navbarColorHighlight;
      }
    }
    > .open {
      > a, > a:hover, > a:focus {
        background-color: $navbarBgColorHighlight;
        color: $navbarColorHighlight;
      }
    }
  }
  // End of navbar coloring.

  .navbar-toggle {
    border-color: $navbarBgColorHighlight;
    &:hover, &:focus {
      background-color: $navbarBgColorHighlight;
    }
    .icon-bar {
      background-color: $navbarColorDefault;
    }
  }
  .navbar-collapse,
  .navbar-form {
    border-color: $navbarColorDefault;
  }
  .navbar-link {
    color: $navbarColorDefault;
    &:hover {
      color: $navbarColorHighlight;
    }
  }

  .navbar-brand {
    padding-top: 8px;
    img {
      height: 36px;
      width: 36px;
    }
  }

  .navbar-right {
    li {
      a {
        line-height:100%;
        padding-bottom: 12px;
        padding-top: 13px;
        .fa {
          font-size: 24px;
        }
      }
    }

  }
}
