@import "~bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss";

.app-navbar {
  user-select: none;

  background-color: $navbarBgColorDefault;

  // Coloring created with https://work.smarchal.com/twbscolor/
  border: 0;

  border-radius: 0;
  margin-bottom: 0;
  .container-fluid {
    padding-right: 2px;
  }

  .navbar-brand {
    color: $navbarColorDefault;
    &:hover, &:focus {
      color: $navbarColorHighlight;
    }
  }
  .navbar-text {
    color: $navbarColorDefault;
  }
  .navbar-nav {
    > li {
      > a {
        color: $navbarColorDefault;
        &:hover, &:focus {
          color: $navbarColorHighlight;
        }
      }
      @if $navbarColorizeDropDown {
        > .dropdown-menu {
          background-color: $navbarBgColorDefault;
          > li {
            > a {
              color: $navbarColorDefault;
              &:hover, &:focus {
                color: $navbarColorHighlight;
                background-color: $navbarBgColorHighlight;
              }
            }
            &.divider {
              background-color: $navbarBgColorHighlight;
            }
          }
        }
      }
    }
    @if $navbarColorizeDropDown {
      .open .dropdown-menu > .active {
        > a, > a:hover, > a:focus {
          color: $navbarColorHighlight;
          background-color: $navbarBgColorHighlight;
        }
      }
    }
    > .active {
      > a, > a:hover, > a:focus {
        background-color: $navbarBgColorHighlight;
        color: $navbarColorHighlight;
      }
    }
    > .open {
      > a, > a:hover, > a:focus {
        background-color: $navbarBgColorHighlight;
        color: $navbarColorHighlight;
      }
    }
  }
  // End of navbar coloring.

  .navbar-toggle {
    border-color: $navbarBgColorHighlight;
    &:hover, &:focus {
      background-color: $navbarBgColorHighlight;
    }
    .icon-bar {
      background-color: $navbarColorDefault;
    }
  }
  .navbar-collapse,
  .navbar-form {
    border-color: $navbarColorDefault;
  }
  .navbar-link {
    color: $navbarColorDefault;
    &:hover {
      color: $navbarColorHighlight;
    }
  }

  .navbar-back {
    float: left;
    height: $navbar-height;

    margin: 0 20px 0 6px;
    padding: 12px 0 10px 0;
    text-align: center;

    a {
      color: $navbarColorDefault;
      font-size: 20px;
      &:hover, &:focus {
        color: $navbarColorHighlight;
      }
    }

    &.hide-it {
      visibility: hidden;
    }
  }

  .navbar-brand {
    padding-top: 8px;
    img {
      height: 36px;
      width: 36px;
    }
  }

  .navbar-right {
    .settings, .login, .editor {
      a {
        line-height: 100%;
        padding-bottom: 12px;
        padding-top: 13px;
        .fa {
          font-size: 24px;
        }
      }
    }

    .editor {
      a {
        .fa {
          font-size: 22px;
        }
      }
    }

    .user-dropdown {
      .dropdown-toggle {
        padding: 9px 10px 0 10px;

        .profile-pic {
          background: $profilePicBg;
          background-position: 50% 50%;
          background-repeat: no-repeat;
          background-size: cover;
          border-radius: 50%;
          display: inline-block;
          height: 34px;
          width: 34px;
        }
      }

      ul.dropdown-menu {

        border: 0;
        border-radius: 0;
        box-shadow: none;
        min-width: 138px;
        padding-bottom: 0;
        padding-top: 0;
        width: 138px;

        li {

          &.username {
            color: $textColorLightest;
            font-weight: bold;
            padding: 10px 17px;
          }

          a {
            padding-bottom: 8px;
            padding-top: 8px;
            transition:all 0.3s ease;
          }
        }
      }
    }
  }

  .filter-dropdown {
    width: 140px;

    .dropdown-toggle {
      font-weight: bold;
      .caret {
        float: right;
        margin-top: 10px;
      }
    }

    ul.dropdown-menu {
      border: 0;
      border-radius: 0;
      box-shadow: none;
      min-width: 138px;
      padding-bottom: 0;
      padding-top: 0;
      width: 138px;

      li {
        a {
          padding-bottom: 10px;
          padding-top: 10px;
          transition:all 0.3s ease;
        }
      }
    }
  }

  .navbar-form {

  }
}
