@import "~angularjs-slider/dist/rzslider.scss";

body.dark-theme {

  $themePrimaryTone: #2c5393;

  $navbarBgColorDefault: #273445;
  $navbarBgColorHighlight: #526d91;
  $navbarColorDefault: #eeeeee;
  $navbarColorHighlight: #ffffff;
  $navbarColorizeDropDown: true;

  $footerBgColor: #273445;
  $footerColor: #ececec;
  $footerHeight: 30px;

  $appBg: #161D26;
  $boxBg: #1E2835;

  $profilePicBg: #eeeeee;

  $listBgColor: #1E2835;
  $listBorderColor: #1E2835;

  $textColor: #cecece;
  $textColorLight: #788187;
  $textColorLighter: #8c979e;
  $textColorLightest: #fff;

  $linkHoverColor: #4879c9;

  $hoverColor: #1e2835;

  $seperatorColor: #121820;

  $loadingColor: #5892f4;
  $loadingSuccessColor: #009c00;

  $altRowColor: #334359;

  $highlightColor: #FFFBCC;

  $contentEditorControlsBg: #1c2430;

  $editorTagErrBg: #344459;

  $loadingItemColor: #000;

  $loginWindowOrBg: #2a384a;

  $galleryImgBg: #567499;

  $selectedCommentBg: #2e3d50;

  $voteBtnColor: #357CE6;

  @import "overwrites";
  @import "navbar";
  @import "footer";
  @import "common";
  @import "layout";
  @import "components";

  @import "dark-extra";
}
