@import '../../style/mixins';
@import '../../style/colors';

@keyframes voting-color-change {
  0% {
    background: $dark-sky-blue;

    svg {
      fill: $white;
    }
  }
  25% {
    background: transparent;

    svg {
      fill: $dark-sky-blue;
    }
  }
  50% {
    background: $dark-sky-blue;
    svg {
      fill: $white;
    }
  }
  75% {
    background: transparent;
    svg {
      fill: $dark-sky-blue;
    }
  }
  100% {
    background: $dark-sky-blue;
    svg {
      fill: $white;
    }
  }
}

.btn-vote {
  align-items: center;
  border: 1px solid $dark-sky-blue;
  border-radius: 50%;
  color: $dark-sky-blue;
  display: flex;
  height: 18px;
  justify-content: center;
  text-decoration: none;
  width: 18px;

  svg {
    width: 14px;
    height: 14px;
  }

  &:focus {
    text-decoration: none;
  }

  &:hover,
  &.voted {
    background-color: $dark-sky-blue;
    color: $white;
  }

  &.in-progress {
    animation: voting-color-change 5s infinite;
    opacity: 0.5;
    pointer-events: none;
  }

  .btn-inner {
    display: flex;
  }
}

.vote-slider-content {
  width: 400px;

  .estimated,
  .percentage {
    margin-bottom: 10px;
    text-align: center;
  }

  .estimated {
    font-size: 18px;
    font-weight: 700;
  }

  .percentage {
    font-size: 14px;
  }
}
