.login-modal-content {
  margin: auto;
  padding: 20px;
  width: 70%;

  .login-header {
    .logo {
      width: 100px;
      margin: 0 auto 20px auto;
      img {
        width: 100%;
      }
    }
  }

  .login-form {
    p {
      margin-bottom: 14px;
      text-align: center;
    }
  }

  .login-sc {
    cursor: pointer;
    font-weight: 700;
    margin: auto;
    text-align: center;
    width: 200px;

    .logo {
      background: $white-two;
      border-radius: 4px;
      margin: auto;
      padding: 3px;
      width: 190px;
    }
  }
}
