@import '../../mixin';
@import '../../variables';

.postListItem {
  padding-bottom: 16px;
  padding-right: 38px;
  border-bottom: 1px solid #e7e7e7;
  margin-top: 20px;

  &:last-of-type {
    border-bottom-color: transparent;
  }



  .itemHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;

    .userAvatar {
      margin-right: 12px;
    }

    .author {
      font-weight: 700;
      margin-right: 10px;

      .authorReputation {
        font-weight: 500;
        color: #788187;

        &::before {
          content: '(';
        }

        &::after {
          content: ')';
        }
      }
    }

    .contentCategory {
      color: #fff;
      margin-right: 12px;
      border-radius: 25px;
      background-color: #c1c5c7;
      padding: 2px 8px;
      font-size: 12px;
    }

    .contentDate {
      color: #788187;

    }
  }

  .itemBody {
    .clearfix;

    .itemImage {
      display: flex;
      float: left;
      align-items: center;
      width: 130px;
      height: 77px;
      overflow: hidden;
      margin-right: 17px;

      img {
        max-width: 100%;
        height: auto;
        border-radius: 4px;
      }
    }

    .itemSummary {
      width: calc(100% - 147px);
      float: right;

      .itemTitle, .itemBody {
        font-size: 16px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;
      }

      .itemTitle {
        font-weight: 700;
        color: #3c4449;
        margin-bottom: 9px;
      }

      .itemBody {
        color: #788187;
        margin-bottom: 13px;
      }
    }

    .itemControls {
      width: calc(100% - 147px);
      float: right;
      display: flex;
      align-items: center;

      .voting {
        margin-right: 10px;

        .btnVote {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 18px;
          height: 18px;
          font-size: 1.1em;
          border-radius: 50%;
          border: 1px solid @primary-color;
          color: @primary-color;

          &:hover {
            background-color: @primary-color;
            color: #fff
          }
        }
      }

      .postTotal {
        color: #788187;
        margin-right: 25px;
      }

      .voters, .comments {
        display: flex;
        align-items: center;
        font-size: 14px;
        color: #788187;
        margin-right: 25px;

        .mi {
          opacity: 0.5;
          margin-right: 5px;
        }
      }

      .app {
        flex-grow: 1;
        text-align: right;
        color: #c1c5c7;
      }

    }
  }
}