.settings-modal-content {
  padding: 20px;

  .row {
    margin-bottom: 26px;

    .col,
    .label-col {
      min-height: 32px;
      align-items: center;
      display: flex;
      flex-wrap: wrap;
    }

    .label-col {
      font-weight: bold;
    }
  }

  .serverAddress {
    margin-right: 10px;
  }

  .push-switch {
    margin-right: 10px;
  }

  .node-list {
    margin-top: 10px;

    width: 100%;

    .node-list-body {
      height: 200px;
      overflow-y: auto;
      margin-bottom: 10px;

      .node-list-item {
        margin-bottom: 10px;

        .disabled {
          pointer-events: none;
        }
      }
    }

    .node-list-footer {
    }
  }
}
