@import '../../node_modules/typeface-roboto/index.css';
@import './colors';
@import './mixins';

html {
  /* Smooth font */
  font-size: 100%;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
  -webkit-text-size-adjust: 100%;
  font-variant-ligatures: none;
  -webkit-font-variant-ligatures: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: 'Roboto', sans-serif;
}

h1,
h2 {
  @include themify(day) {
    color: $steel-grey;
  }

  @include themify(night) {
    color: $metallic-blue;
  }
}

#root {
  height: 100%;
  left: 0;
  min-width: 992px;
  position: absolute;
  top: 0;
  width: 100%;

  @include themify(day) {
    background: $white-two;
    color: $charcoal-grey;
  }

  @include themify(night) {
    background: $dark-six;
    color: $silver;
  }
}

.wrapper {
  height: 100%;
  width: 100%;
}

.app-content {
  height: calc(100% - 85px - 32px);
  position: relative;
}

/* Material Icons */
@import '../../node_modules/material-design-icons/iconfont/material-icons.css';

.mi {
  direction: ltr;
  display: inline-block;
  font-family: 'Material Icons';
  font-size: 1em; /* Preferred icon size */
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 1.1;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;

  /* Support for IE. */
  &.mi-2x {
    font-size: 2em;
  }

  &.mi-3x {
    font-size: 3rem;
  }

  &.mi-4x {
    font-size: 4rem;
  }

  &.mi-5x {
    font-size: 5rem;
  }

  &.miRotatedRight {
    -webkit-transform: rotate(90deg);
  }

  font-feature-settings: 'liga';
}

@import '../components/common/DropDown';
@import '../components/common/LinearProgress';

@import '../components/layout/Navbar';
@import '../components/layout/AppFooter';

@import '../components/EntryIndex';
@import '../components/Account';
@import '../components/Compose.scss';

@import '../components/elements/EntryListItem';
@import '../components/elements/EntryListLoadingItem';
@import '../components/elements/EntryPayoutContent';
@import '../components/elements/EntryVotesContent';
@import '../components/elements/EntryVoteBtn';
@import '../components/elements/FollowControls';
@import '../components/elements/ComposeBtn';

@import '../components/elements/UserAvatar';
@import '../components/elements/ListSwitch';

@import '../components/dialogs/Settings';
@import '../components/dialogs/Login';
@import '../components/dialogs/PinCreate';
@import '../components/dialogs/PinConfirm';
@import '../components/dialogs/UserMenu';

@import '../components/helpers/QuickProfile';
