@import '../../node_modules/typeface-roboto/index.css';
@import './colors';
@import './mixins';

html {
  /* Smooth font */
  font-size: 100%;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
  -webkit-text-size-adjust: 100%;
  font-variant-ligatures: none;
  -webkit-font-variant-ligatures: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: 'Roboto', sans-serif;
  user-select: none;
}

.user-selectable {
  user-select: auto;
}

h1,
h2 {
  @include themify(day) {
    color: $steel-grey;
  }

  @include themify(night) {
    color: $metallic-blue;
  }
}

#root {
  height: 100%;
  left: 0;
  min-width: 992px;
  position: absolute;
  top: 0;
  width: 100%;

  @include themify(day) {
    background: $white-two;
    color: $charcoal-grey;
  }

  @include themify(night) {
    background: $dark-six;
    color: $silver;
  }
}

.wrapper {
  height: 100%;
  width: 100%;
}

.app-content {
  height: calc(100% - 85px - 32px);
  position: relative;
}

/* Material Icons */
@import '../../node_modules/material-design-icons/iconfont/material-icons.css';

.mi {
  direction: ltr;
  display: inline-block;
  font-family: 'Material Icons';
  font-size: 1em; /* Preferred icon size */
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 1.1;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;

  /* Support for IE. */
  &.mi-2x {
    font-size: 2em;
  }

  &.mi-3x {
    font-size: 3rem;
  }

  &.mi-4x {
    font-size: 4rem;
  }

  &.mi-5x {
    font-size: 5rem;
  }

  &.miRotatedRight {
    -webkit-transform: rotate(90deg);
  }

  font-feature-settings: 'liga';
}

@import '../components/common/DropDown';
@import '../components/common/LinearProgress';

@import '../components/layout/Navbar';
@import '../components/layout/AppFooter';

@import '../components/EntryIndex';
@import '../components/Account';
@import '../components/Entry';
@import '../components/Compose.scss';
@import '../components/Gallery.scss';
@import '../components/Drafts.scss';
@import '../components/Schedules.scss';
@import '../components/Bookmarks.scss';
@import '../components/Favorites.scss';

@import '../components/elements/EntryListItem';
@import '../components/elements/EntryListLoadingItem';
@import '../components/elements/EntryPayoutContent';
@import '../components/elements/EntryVotesContent';
@import '../components/elements/EntryVoteBtn';
@import '../components/elements/FollowControls';
@import '../components/elements/ComposeBtn';
@import '../components/elements/Editor';

@import '../components/elements/UserAvatar';
@import '../components/elements/ListSwitch';

@import '../components/dialogs/Settings';
@import '../components/dialogs/Login';
@import '../components/dialogs/PinCreate';
@import '../components/dialogs/PinConfirm';
@import '../components/dialogs/UserMenu';

@import '../components/helpers/QuickProfile';

.markdown-view {
  @include clearfix();

  font-size: 18px;
  word-wrap: break-word;
  br {
    font-size: 100%;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 700;
    margin: 0 0 0.7em 0;
  }

  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 20px;
  }

  h4 {
    font-size: 18px;
  }

  h5 {
    font-size: 16px;
  }

  h5 {
    font-size: 14px;
  }

  blockquote {
    font-size: 18px;
    padding-left: 10px;
    border-left-width: 4px;
    border-left-style: solid;

    @include themify(day) {
      color: $warm-grey;
      border-left-color: lighten($warm-grey, 25);
    }

    @include themify(night) {
      color: $dusky-blue-two;
      border-left-color: darken($dusky-blue-two, 7);
    }

    p {
      margin: 0;
    }
  }

  p {
    line-height: 150%;
    margin: 0 0 1em 0;
    text-rendering: optimizeLegibility;
  }

  ul li,
  ol li {
    font-size: 18px;
    line-height: 150%;
    margin: 0 0 1rem 0;
  }

  img {
    max-width: 100%;
  }

  a {
    color: $dark-sky-blue !important;
  }

  hr {
    clear: both;
    margin: 10px auto;
    border-top-width: 0;
    border-bottom: 1px solid #ccc;
  }

  table {
    border-collapse: separate;
    border-spacing: 1px;
    margin-bottom: 24px;

    td,
    th {
      padding: 8px 10px;
    }

    thead {
      td,
      th {
        @include themify(day) {
          background-color: darken($white-four, 5);
        }

        @include themify(night) {
          background-color: $metallic-blue;
        }
      }
    }

    tbody {
      td,
      th {
        @include themify(day) {
          background-color: $white-four;
        }

        @include themify(night) {
          background-color: lighten($metallic-blue, 10);
        }

        // background-color: $boxBg;
      }
    }
  }

  code,
  pre {
    padding: 2px;
    @include themify(day) {
      background: rgba(210, 226, 238, 0.3);
      color: $charcoal-grey;
    }

    @include themify(night) {
      background: $powder-blue;
      color: $charcoal-grey;
    }
  }

  .phishy {
    display: inline;
    color: $red2;
  }

  .pull-left,
  .pull-right {
    max-width: calc(50% - 10px);
    padding-left: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }

  .pull-left {
    margin-right: 10px;
    padding-right: 10px;
    float: left;
  }

  .pull-right {
    margin-left: 10px;
    padding-right: 10px;
    float: right;
  }

  .markdown-external-link,
  .markdown-post-link,
  .markdown-author-link,
  .markdown-tag-link,
  .markdown-witnesses-link {
    cursor: pointer;
  }

  .markdown-video-link {
    background: #000;
    display: block;

    height: 360px;
    max-width: 600px;
    width: 100%;

    iframe {
      height: 100%;
      width: 100%;
    }
  }

  &.mini-markdown {
    font-size: 14px;
    word-wrap: break-word;

    blockquote {
      font-size: 14px;
    }

    p {
      margin: 0 0 0.6rem 0;
      &:last-child {
        margin-bottom: 0.2rem;
      }
    }

    h1 {
      font-size: 20px;
      margin: 6px 0;
    }

    h2 {
      font-size: 18px;
      margin: 4px 0 4px 0;
    }

    h3 {
      font-size: 16px;
      margin: 4px 0 4px 0;
    }

    ul li,
    ol li {
      font-size: 14px;
    }

    img {
      max-height: 400px;
      max-width: 400px;
    }

    .markdown-video-link {
      height: 300px;
      max-width: 100%;
      width: 400px;
    }
  }

  overflow-wrap: break-word;

  &.mini-markdown {
    font-size: 14px;
    word-wrap: break-word;

    blockquote {
      font-size: 14px;
    }

    p {
      margin: 0 0 0.6rem 0;
      &:last-child {
        margin-bottom: 0.2rem;
      }
    }

    h1 {
      font-size: 20px;
      margin: 6px 0;
    }

    h2 {
      font-size: 18px;
      margin: 4px 0 4px 0;
    }

    h3 {
      font-size: 16px;
      margin: 4px 0 4px 0;
    }

    ul li,
    ol li {
      font-size: 14px;
    }

    img {
      max-height: 400px;
      max-width: 400px;
    }

    .markdown-video-link {
      height: 300px;
      max-width: 100%;
      width: 400px;
    }
  }
}
