<nav class="navbar navbar-default app-navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"><img src="img/navbar-brand.png"></a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Trending <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Hot</a></li>
        <li><a href="#">New</a></li>
        <li><a href="#">Active</a></li>
        <li><a href="#">Promoted</a></li>
        <li><a href="#">Votes</a></li>
        <li><a href="#">Comments</a></li>
        <li><a href="#">Payment</a></li>
      </ul>
      <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><i class="fa fa-cog"></i></a></li>
        <li><a href="#"><i class="fa fa-sign-in"></i></a></li>

        <!--
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
             aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
        -->
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="app-container">
  <div class="app-content">
    <div class="side-tag-list">
      <header>Tags</header>
      <ul class="tag-list">
        <li><a href="#">life</a></li>
        <li><a href="#">photography</a></li>
        <li><a href="#">steemit</a></li>
        <li><a href="#">kr</a></li>
        <li><a href="#">art</a></li>
        <li><a href="#">introduceyourself</a></li>
        <li><a href="#">bitcoin</a></li>
        <li><a href="#">blog</a></li>
        <li><a href="#">spanish</a></li>
        <li><a href="#">travel</a></li>
        <li><a href="#">cryptocurrency</a></li>
        <li><a href="#">busy</a></li>
        <li><a href="#">steem</a></li>
        <li><a href="#">funny</a></li>
        <li><a href="#">nature</a></li>
        <li><a href="#">dmania</a></li>
        <li><a href="#">indonesia</a></li>
        <li><a href="#">food</a></li>
        <li><a href="#">story</a></li>
        <li><a href="#">news</a></li>
        <li><a href="#">writing</a></li>
        <li><a href="#">aceh</a></li>
        <li><a href="#">dtube</a></li>
        <li><a href="#">photo</a></li>
        <li><a href="#">music</a></li>
        <li><a href="#">dlive</a></li>
        <li><a href="#">crypto</a></li>
        <li><a href="#">meme</a></li>
        <li><a href="#">money</a></li>
        <li><a href="#">contest</a></li>
        <li><a href="#">love</a></li>
        <li><a href="#">utopian-io</a></li>
        <li><a href="#">cn</a></li>
        <li><a href="#">health</a></li>
        <li><a href="#">poetry</a></li>
        <li><a href="#">colorchallenge</a></li>
        <li><a href="#">cervantes</a></li>
        <li><a href="#">video</a></li>
        <li><a href="#">deutsch</a></li>
        <li><a href="#">blockchain</a></li>
        <li><a href="#">dsound</a></li>
        <li><a href="#">esteem</a></li>
        <li><a href="#">steepshot</a></li>
        <li><a href="#">kr-newbie</a></li>
        <li><a href="#">science</a></li>
        <li><a href="#">philippines</a></li>
        <li><a href="#">new</a></li>
        <li><a href="#">fun</a></li>
        <li><a href="#">myanmar</a></li>
      </ul>
      <footer><a href="#">View all tags..</a></footer>
    </div>
    <div class="post-list">
      <header>
        <h1>Trending</h1>
      </header>

      <ul class="feed">
        <li>
          <div class="post-list-item">
            <div class="post-header">
              <div class="post-author-left">
                <div class="post-author-pic">
                  <img
                    src="https://steemit-production-imageproxy-thumbnail.s3.amazonaws.com/U5drwDzv5C55we85d5R8K1p6AFEoCUd_64x64">
                </div>
              </div>
              <div class="post-author-right">
                <span class="post-author-name"><a href="#">fredrikaa</a></span>
                <span class="post-author-reputation">64</span>
              </div>
              <div class="post-info">
                <span class="post-info-cat"><a href="#">in steem</a></span>
                <span class="post-info-date"><a href="#">18 hours ago</a></span>
              </div>
            </div>
            <div class="post-body with-image">
              <div class="post-image">
                <a href="#">
                  <img
                    src="https://steemit-production-imageproxy-thumbnail.s3.amazonaws.com/DQmVavAwMKfAYbeNM1nJyWAsgzmKrKxPNCpk4wDs1niU1PE_256x512">
                </a>
              </div>
              <div class="post-body-content">
                <h2 class="post-body-content-title">
                  <a href="#">SteemPress now available in the WordPress.org plugin store! – Introducing V1.0</a>
                </h2>
                <div class="post-body-content-summary"><a href="#">SIt's been 2 weeks since @howo introduced the beta
                  version of SteemPress and the and the response we got was absolutely</a></div>
                <div class="post-body-content-controls">
                  <div class="control-vote">
                    <div class="up-vote">
                      <a href="#">
                        <i class="fa fa-chevron-circle-up"></i>
                      </a>
                    </div>
                    <div class="vote-money">
                      <a href="#">
                        <span class="money-prefix">$</span> 624.61
                      </a>
                    </div>

                  </div>
                  <div class="control-voters">
                    <a href="#">
                      <i class="fa fa-users"></i> 422
                    </a>
                  </div>

                  <div class="control-comments">
                    <a href="#">
                      <i class="fa fa-comments"></i> 152
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="post-list-item">
            <div class="post-header">
              <div class="post-author-left">
                <div class="post-author-pic">
                  <img
                    src="https://steemitimages.com/u/aantonop/avatar/small">
                </div>
              </div>
              <div class="post-author-right">
                <span class="post-author-name"><a href="#">aantonop</a></span>
                <span class="post-author-reputation">56</span>
              </div>
              <div class="post-info">
                <span class="post-info-cat"><a href="#">in impersonators</a></span>
                <span class="post-info-date"><a href="#">3 days ago</a></span>
              </div>
            </div>
            <div class="post-body">
              <div class="post-body-content">
                <h2 class="post-body-content-title">
                  <a href="#">The "real" aantonop</a>
                </h2>
                <div class="post-body-content-summary"><a href="#">I've never contributed to Steem, at least so far. But
                  there are people impersonating me, who are reposting my work</a></div>
                <div class="post-body-content-controls">
                  <div class="control-vote">
                    <div class="up-vote">
                      <a href="#">
                        <i class="fa fa-chevron-circle-up"></i>
                      </a>
                    </div>
                    <div class="vote-money">
                      <a href="#">
                        <span class="money-prefix">$</span> 624.61
                      </a>
                    </div>
                  </div>
                  <div class="control-voters">
                    <a href="#">
                      <i class="fa fa-users"></i> 422
                    </a>
                  </div>
                  <div class="control-comments">
                    <a href="#">
                      <i class="fa fa-comments"></i> 152
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="post-list-item">
            <div class="post-header">
              <div class="post-author-left">
                <div class="post-author-pic">
                  <img
                    src="https://steemitimages.com/u/ddangerwu/avatar/small">
                </div>
              </div>
              <div class="post-author-right">
                <span class="post-author-name"><a href="#">ddangerwu</a></span>
                <span class="post-author-reputation">54</span>
              </div>
              <div class="post-info">
                <span class="post-info-cat"><a href="#">in steem</a></span>
                <span class="post-info-date"><a href="#">5 days ago</a></span>
              </div>
            </div>
            <div class="post-body with-image">
              <div class="post-image">
                <a href="#">
                  <img
                    src="https://steemitimages.com/DQmYSh9dry1aYMD3jNepDoxV5BJTSexxUQpcHZjY1jaYGxD/DQmYSh9dry1aYMD3jNepDoxV5BJTSexxUQpcHZjY1jaYGxD.png">
                </a>
              </div>
              <div class="post-body-content">
                <h2 class="post-body-content-title">
                  <a href="#">3 Things You Can Do to Help STEEM on Binance Now + Get 10 SBD If You Help Out</a>
                </h2>
                <div class="post-body-content-summary"><a href="#">Hi all, As most of you know, STEEM was listed on
                  Binance this week. There are a few things we should do in order to</a></div>
                <div class="post-body-content-controls">
                  <div class="control-vote">
                    <div class="up-vote">
                      <a href="#">
                        <i class="fa fa-chevron-circle-up"></i>
                      </a>
                    </div>
                    <div class="vote-money">
                      <a href="#">
                        <span class="money-prefix">$</span> 403.70
                      </a>
                    </div>

                  </div>
                  <div class="control-voters">
                    <a href="#">
                      <i class="fa fa-users"></i> 242
                    </a>
                  </div>

                  <div class="control-comments">
                    <a href="#">
                      <i class="fa fa-comments"></i> 99
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="post-list-item">
            <div class="post-header">
              <div class="post-author-left">
                <div class="post-author-pic">
                  <img
                    src="https://steemitimages.com/u/purepinay/avatar/small">
                </div>
              </div>
              <div class="post-author-right">
                <span class="post-author-name"><a href="#">purepinay</a></span>
                <span class="post-author-reputation">64</span>
              </div>
              <div class="post-info">
                <span class="post-info-cat"><a href="#">in travel</a></span>
                <span class="post-info-date"><a href="#">12 hours ago</a></span>
              </div>
            </div>
            <div class="post-body with-image">
              <div class="post-image">
                <a href="#">
                  <img
                    src="https://steemitimages.com/DQmcb5LcQHurtAFm99da41DqqTSHHJGNuyP3siL8LEYjVw6/IMG_20180201_100346.jpg">
                </a>
              </div>
              <div class="post-body-content">
                <h2 class="post-body-content-title">
                  <a href="#">Tierra Alta- A Standout Idyllic Setting. Dumaguete City</a>
                </h2>
                <div class="post-body-content-summary"><a href="#">Our second day in Dumaguete. What to do now? We
                  didn't
                  have any plans set for this trip because we love the</a></div>
                <div class="post-body-content-controls">
                  <div class="control-vote">
                    <div class="up-vote">
                      <a href="#">
                        <i class="fa fa-chevron-circle-up"></i>
                      </a>
                    </div>
                    <div class="vote-money">
                      <a href="#">
                        <span class="money-prefix">$</span> 452.73
                      </a>
                    </div>

                  </div>
                  <div class="control-voters">
                    <a href="#">
                      <i class="fa fa-users"></i> 403
                    </a>
                  </div>

                  <div class="control-comments">
                    <a href="#">
                      <i class="fa fa-comments"></i> 161
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>

        <li>
          <div class="post-list-item">
            <div class="post-header">
              <div class="post-author-left">
                <div class="post-author-pic">
                  <img
                    src="https://steemit-production-imageproxy-thumbnail.s3.amazonaws.com/U5drwDzv5C55we85d5R8K1p6AFEoCUd_64x64">
                </div>
              </div>
              <div class="post-author-right">
                <span class="post-author-name"><a href="#">fredrikaa</a></span>
                <span class="post-author-reputation">64</span>
              </div>
              <div class="post-info">
                <span class="post-info-cat"><a href="#">in steem</a></span>
                <span class="post-info-date"><a href="#">18 hours ago</a></span>
              </div>
            </div>
            <div class="post-body with-image">
              <div class="post-image">
                <a href="#">
                  <img
                    src="https://steemit-production-imageproxy-thumbnail.s3.amazonaws.com/DQmVavAwMKfAYbeNM1nJyWAsgzmKrKxPNCpk4wDs1niU1PE_256x512">
                </a>
              </div>
              <div class="post-body-content">
                <h2 class="post-body-content-title">
                  <a href="#">SteemPress now available in the WordPress.org plugin store! – Introducing V1.0</a>
                </h2>
                <div class="post-body-content-summary"><a href="#">SIt's been 2 weeks since @howo introduced the beta
                  version of SteemPress and the and the response we got was absolutely</a></div>
                <div class="post-body-content-controls">
                  <div class="control-vote">
                    <div class="up-vote">
                      <a href="#">
                        <i class="fa fa-chevron-circle-up"></i>
                      </a>
                    </div>
                    <div class="vote-money">
                      <a href="#">
                        <span class="money-prefix">$</span> 624.61
                      </a>
                    </div>

                  </div>
                  <div class="control-voters">
                    <a href="#">
                      <i class="fa fa-users"></i> 422
                    </a>
                  </div>

                  <div class="control-comments">
                    <a href="#">
                      <i class="fa fa-comments"></i> 152
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="post-list-item">
            <div class="post-header">
              <div class="post-author-left">
                <div class="post-author-pic">
                  <img
                    src="https://steemitimages.com/u/aantonop/avatar/small">
                </div>
              </div>
              <div class="post-author-right">
                <span class="post-author-name"><a href="#">aantonop</a></span>
                <span class="post-author-reputation">56</span>
              </div>
              <div class="post-info">
                <span class="post-info-cat"><a href="#">in impersonators</a></span>
                <span class="post-info-date"><a href="#">3 days ago</a></span>
              </div>
            </div>
            <div class="post-body">
              <div class="post-body-content">
                <h2 class="post-body-content-title">
                  <a href="#">The "real" aantonop</a>
                </h2>
                <div class="post-body-content-summary"><a href="#">I've never contributed to Steem, at least so far. But
                  there are people impersonating me, who are reposting my work</a></div>
                <div class="post-body-content-controls">
                  <div class="control-vote">
                    <div class="up-vote">
                      <a href="#">
                        <i class="fa fa-chevron-circle-up"></i>
                      </a>
                    </div>
                    <div class="vote-money">
                      <a href="#">
                        <span class="money-prefix">$</span> 624.61
                      </a>
                    </div>
                  </div>
                  <div class="control-voters">
                    <a href="#">
                      <i class="fa fa-users"></i> 422
                    </a>
                  </div>
                  <div class="control-comments">
                    <a href="#">
                      <i class="fa fa-comments"></i> 152
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="post-list-item">
            <div class="post-header">
              <div class="post-author-left">
                <div class="post-author-pic">
                  <img
                    src="https://steemitimages.com/u/ddangerwu/avatar/small">
                </div>
              </div>
              <div class="post-author-right">
                <span class="post-author-name"><a href="#">ddangerwu</a></span>
                <span class="post-author-reputation">54</span>
              </div>
              <div class="post-info">
                <span class="post-info-cat"><a href="#">in steem</a></span>
                <span class="post-info-date"><a href="#">5 days ago</a></span>
              </div>
            </div>
            <div class="post-body with-image">
              <div class="post-image">
                <a href="#">
                  <img
                    src="https://steemitimages.com/DQmYSh9dry1aYMD3jNepDoxV5BJTSexxUQpcHZjY1jaYGxD/DQmYSh9dry1aYMD3jNepDoxV5BJTSexxUQpcHZjY1jaYGxD.png">
                </a>
              </div>
              <div class="post-body-content">
                <h2 class="post-body-content-title">
                  <a href="#">3 Things You Can Do to Help STEEM on Binance Now + Get 10 SBD If You Help Out</a>
                </h2>
                <div class="post-body-content-summary"><a href="#">Hi all, As most of you know, STEEM was listed on
                  Binance this week. There are a few things we should do in order to</a></div>
                <div class="post-body-content-controls">
                  <div class="control-vote">
                    <div class="up-vote">
                      <a href="#">
                        <i class="fa fa-chevron-circle-up"></i>
                      </a>
                    </div>
                    <div class="vote-money">
                      <a href="#">
                        <span class="money-prefix">$</span> 403.70
                      </a>
                    </div>

                  </div>
                  <div class="control-voters">
                    <a href="#">
                      <i class="fa fa-users"></i> 242
                    </a>
                  </div>

                  <div class="control-comments">
                    <a href="#">
                      <i class="fa fa-comments"></i> 99
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="post-list-item">
            <div class="post-header">
              <div class="post-author-left">
                <div class="post-author-pic">
                  <img
                    src="https://steemitimages.com/u/purepinay/avatar/small">
                </div>
              </div>
              <div class="post-author-right">
                <span class="post-author-name"><a href="#">purepinay</a></span>
                <span class="post-author-reputation">64</span>
              </div>
              <div class="post-info">
                <span class="post-info-cat"><a href="#">in travel</a></span>
                <span class="post-info-date"><a href="#">12 hours ago</a></span>
              </div>
            </div>
            <div class="post-body with-image">
              <div class="post-image">
                <a href="#">
                  <img
                    src="https://steemitimages.com/DQmcb5LcQHurtAFm99da41DqqTSHHJGNuyP3siL8LEYjVw6/IMG_20180201_100346.jpg">
                </a>
              </div>
              <div class="post-body-content">
                <h2 class="post-body-content-title">
                  <a href="#">Tierra Alta- A Standout Idyllic Setting. Dumaguete City</a>
                </h2>
                <div class="post-body-content-summary"><a href="#">Our second day in Dumaguete. What to do now? We
                  didn't
                  have any plans set for this trip because we love the</a></div>
                <div class="post-body-content-controls">
                  <div class="control-vote">
                    <div class="up-vote">
                      <a href="#">
                        <i class="fa fa-chevron-circle-up"></i>
                      </a>
                    </div>
                    <div class="vote-money">
                      <a href="#">
                        <span class="money-prefix">$</span> 452.73
                      </a>
                    </div>

                  </div>
                  <div class="control-voters">
                    <a href="#">
                      <i class="fa fa-users"></i> 403
                    </a>
                  </div>

                  <div class="control-comments">
                    <a href="#">
                      <i class="fa fa-comments"></i> 161
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>

        <li>
          <div class="post-list-item">
            <div class="post-header">
              <div class="post-author-left">
                <div class="post-author-pic">
                  <img
                    src="https://steemit-production-imageproxy-thumbnail.s3.amazonaws.com/U5drwDzv5C55we85d5R8K1p6AFEoCUd_64x64">
                </div>
              </div>
              <div class="post-author-right">
                <span class="post-author-name"><a href="#">fredrikaa</a></span>
                <span class="post-author-reputation">64</span>
              </div>
              <div class="post-info">
                <span class="post-info-cat"><a href="#">in steem</a></span>
                <span class="post-info-date"><a href="#">18 hours ago</a></span>
              </div>
            </div>
            <div class="post-body with-image">
              <div class="post-image">
                <a href="#">
                  <img
                    src="https://steemit-production-imageproxy-thumbnail.s3.amazonaws.com/DQmVavAwMKfAYbeNM1nJyWAsgzmKrKxPNCpk4wDs1niU1PE_256x512">
                </a>
              </div>
              <div class="post-body-content">
                <h2 class="post-body-content-title">
                  <a href="#">SteemPress now available in the WordPress.org plugin store! – Introducing V1.0</a>
                </h2>
                <div class="post-body-content-summary"><a href="#">SIt's been 2 weeks since @howo introduced the beta
                  version of SteemPress and the and the response we got was absolutely</a></div>
                <div class="post-body-content-controls">
                  <div class="control-vote">
                    <div class="up-vote">
                      <a href="#">
                        <i class="fa fa-chevron-circle-up"></i>
                      </a>
                    </div>
                    <div class="vote-money">
                      <a href="#">
                        <span class="money-prefix">$</span> 624.61
                      </a>
                    </div>

                  </div>
                  <div class="control-voters">
                    <a href="#">
                      <i class="fa fa-users"></i> 422
                    </a>
                  </div>

                  <div class="control-comments">
                    <a href="#">
                      <i class="fa fa-comments"></i> 152
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="post-list-item">
            <div class="post-header">
              <div class="post-author-left">
                <div class="post-author-pic">
                  <img
                    src="https://steemitimages.com/u/aantonop/avatar/small">
                </div>
              </div>
              <div class="post-author-right">
                <span class="post-author-name"><a href="#">aantonop</a></span>
                <span class="post-author-reputation">56</span>
              </div>
              <div class="post-info">
                <span class="post-info-cat"><a href="#">in impersonators</a></span>
                <span class="post-info-date"><a href="#">3 days ago</a></span>
              </div>
            </div>
            <div class="post-body">
              <div class="post-body-content">
                <h2 class="post-body-content-title">
                  <a href="#">The "real" aantonop</a>
                </h2>
                <div class="post-body-content-summary"><a href="#">I've never contributed to Steem, at least so far. But
                  there are people impersonating me, who are reposting my work</a></div>
                <div class="post-body-content-controls">
                  <div class="control-vote">
                    <div class="up-vote">
                      <a href="#">
                        <i class="fa fa-chevron-circle-up"></i>
                      </a>
                    </div>
                    <div class="vote-money">
                      <a href="#">
                        <span class="money-prefix">$</span> 624.61
                      </a>
                    </div>
                  </div>
                  <div class="control-voters">
                    <a href="#">
                      <i class="fa fa-users"></i> 422
                    </a>
                  </div>
                  <div class="control-comments">
                    <a href="#">
                      <i class="fa fa-comments"></i> 152
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="post-list-item">
            <div class="post-header">
              <div class="post-author-left">
                <div class="post-author-pic">
                  <img
                    src="https://steemitimages.com/u/ddangerwu/avatar/small">
                </div>
              </div>
              <div class="post-author-right">
                <span class="post-author-name"><a href="#">ddangerwu</a></span>
                <span class="post-author-reputation">54</span>
              </div>
              <div class="post-info">
                <span class="post-info-cat"><a href="#">in steem</a></span>
                <span class="post-info-date"><a href="#">5 days ago</a></span>
              </div>
            </div>
            <div class="post-body with-image">
              <div class="post-image">
                <a href="#">
                  <img
                    src="https://steemitimages.com/DQmYSh9dry1aYMD3jNepDoxV5BJTSexxUQpcHZjY1jaYGxD/DQmYSh9dry1aYMD3jNepDoxV5BJTSexxUQpcHZjY1jaYGxD.png">
                </a>
              </div>
              <div class="post-body-content">
                <h2 class="post-body-content-title">
                  <a href="#">3 Things You Can Do to Help STEEM on Binance Now + Get 10 SBD If You Help Out</a>
                </h2>
                <div class="post-body-content-summary"><a href="#">Hi all, As most of you know, STEEM was listed on
                  Binance this week. There are a few things we should do in order to</a></div>
                <div class="post-body-content-controls">
                  <div class="control-vote">
                    <div class="up-vote">
                      <a href="#">
                        <i class="fa fa-chevron-circle-up"></i>
                      </a>
                    </div>
                    <div class="vote-money">
                      <a href="#">
                        <span class="money-prefix">$</span> 403.70
                      </a>
                    </div>

                  </div>
                  <div class="control-voters">
                    <a href="#">
                      <i class="fa fa-users"></i> 242
                    </a>
                  </div>

                  <div class="control-comments">
                    <a href="#">
                      <i class="fa fa-comments"></i> 99
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="post-list-item">
            <div class="post-header">
              <div class="post-author-left">
                <div class="post-author-pic">
                  <img
                    src="https://steemitimages.com/u/purepinay/avatar/small">
                </div>
              </div>
              <div class="post-author-right">
                <span class="post-author-name"><a href="#">purepinay</a></span>
                <span class="post-author-reputation">64</span>
              </div>
              <div class="post-info">
                <span class="post-info-cat"><a href="#">in travel</a></span>
                <span class="post-info-date"><a href="#">12 hours ago</a></span>
              </div>
            </div>
            <div class="post-body with-image">
              <div class="post-image">
                <a href="#">
                  <img
                    src="https://steemitimages.com/DQmcb5LcQHurtAFm99da41DqqTSHHJGNuyP3siL8LEYjVw6/IMG_20180201_100346.jpg">
                </a>
              </div>
              <div class="post-body-content">
                <h2 class="post-body-content-title">
                  <a href="#">Tierra Alta- A Standout Idyllic Setting. Dumaguete City</a>
                </h2>
                <div class="post-body-content-summary"><a href="#">Our second day in Dumaguete. What to do now? We
                  didn't
                  have any plans set for this trip because we love the</a></div>
                <div class="post-body-content-controls">
                  <div class="control-vote">
                    <div class="up-vote">
                      <a href="#">
                        <i class="fa fa-chevron-circle-up"></i>
                      </a>
                    </div>
                    <div class="vote-money">
                      <a href="#">
                        <span class="money-prefix">$</span> 452.73
                      </a>
                    </div>

                  </div>
                  <div class="control-voters">
                    <a href="#">
                      <i class="fa fa-users"></i> 403
                    </a>
                  </div>

                  <div class="control-comments">
                    <a href="#">
                      <i class="fa fa-comments"></i> 161
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>

</div>
<footer class="app-footer">
  <div class="footer-links">
    <a href="#/faq">FAQ</a>
    <a href="#/about">About</a>
  </div>
</footer>
