<nav-bar selected-section="'activities'"></nav-bar>
  <div class="app-container" scrolled-bottom="reachedBottom()" id="content-main">
  <div class="app-content activities-page">
    <div class="item-list" ng-class="{'fetching': loading}">
      <header>
        <div class="pull-left">
          <button type="button" ng-click="typeChanged('')" class="btn" ng-class="{'btn-primary': activityType=='', 'btn-default': activityType!='' }">{{ 'All Activities' | __ }}</button>
          <button type="button" ng-click="typeChanged('votes')" class="btn" ng-class="{'btn-primary': activityType=='votes', 'btn-default': activityType!='votes' }">{{ 'ACTIVITIES_VOTES' | __ }}</button>
          <button type="button" ng-click="typeChanged('replies')" class="btn" ng-class="{'btn-primary': activityType=='replies', 'btn-default': activityType!='replies' }">{{ 'ACTIVITIES_REPLIES' | __ }}</button>
          <button type="button" ng-click="typeChanged('mentions')" class="btn" ng-class="{'btn-primary': activityType=='mentions', 'btn-default': activityType!='mentions' }">{{ 'ACTIVITIES_MENTIONS' | __ }}</button>
          <button type="button" ng-click="typeChanged('follows')" class="btn" ng-class="{'btn-primary': activityType=='follows', 'btn-default': activityType!='follows' }">{{ 'ACTIVITIES_FOLLOWS' | __ }}</button>
          <button type="button" ng-click="typeChanged('reblogs')" class="btn" ng-class="{'btn-primary': activityType=='reblogs', 'btn-default': activityType!='reblogs' }">{{ 'ACTIVITIES_REBLOGS' | __ }}</button>
        </div>
        <div class="pull-right">
          <button class="btn btn-sm btn-default btn-reload" ng-click="reload()" ng-disabled="loading" title="{{ 'Refresh' | __ }}"><i class="fa fa-refresh"></i></button>
          <button class="btn btn-sm btn-default btn-reload" ng-if="$root.unreadActivities" ng-click="markAllRead()" ng-disabled="loading || marking" title="{{ 'Mark All as Read' | __ }}"><i class="fa fa-check"></i></button>
        </div>
      </header>
      <ul class="records">
        <li ng-repeat="activity in activities">
          <activity-list-item activity="activity"></activity-list-item>
        </li>
      </ul>
      <div class="empty-list" ng-if="activities.length === 0 && !loading">
        {{ 'EMPTY_LIST' | __ }}
      </div>
      <footer>
        <i class="fa fa-spin fa-spinner fa-circle-o-notch" ng-show="loading"></i>
      </footer>
    </div>
  </div>
</div>
<app-footer></app-footer>
