<nav-bar></nav-bar>
<div class="app-container">
  <div class="app-content editor-page">
    <div class="editor-form">
      <div class="editing-part">
        <div class="left-bar">
          <content-editor-controls target-elem="#reply-editor-1"></content-editor-controls>
        </div>
        <div class="form-group content-title">
          <input type="text" class="form-control input-lg" placeholder="Title" id="content-title" ng-model="title">
        </div>
        <div class="form-group content-body">
          <content-editor place-holder="Post Content" body="tempBody" elem-id="reply-editor-1"></content-editor>
        </div>
        <div class="form-group content-tags">
          <input type="text" class="form-control" id="content-tags"
                 placeholder="Tags. Max 5. Separate with space. The first tag is your main category." ng-model="tags">
        </div>
      </div>
      <div class="preview-part" id="editor-preview">
        <div class="preview-part-title">{{ 'PREVIEW' | translate }}</div>
        <div class="markdown-view" ng-bind-html="body | markDown2Html"></div>
      </div>
    </div>
    <div class="editor-controls">
      <div class="content-settings">
        <div class="form-inline">
          <div class="form-group">
            <label for="reward-select">{{ 'REWARDS' | translate }}</label>
            <select class="form-control" id="reward-select" ng-model="operationType">
              <option value='default'>{{ 'DEFAULT' | translate }}</option>
              <option value='sp'>{{ 'POWERUP' | translate }}</option>
              <option value='dp'>{{ 'DECLINE_PAYOUT' | translate }}</option>
            </select>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" ng-model="vote"> {{'UPVOTE'|translate}}
            </label>
          </div>
        </div>
      </div>
      <div class="control-buttons">
        <div class="pull-left">
          <div class="dropup">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" ng-disabled="processing || fetchingPermission">
              <i class="fa fa-calendar" ng-if="!updating"></i> <i class="fa fa-spin fa-spinner fa-circle-o-notch" ng-if="updating"></i> {{ 'SCHEDULE' | translate }}
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li ng-if="hasPerm"><a ng-click="scheduleClicked()">Select date</a></li>
              <li ng-if="hasPerm" role="separator" class="divider"></li>
              <li ng-if="hasPerm"><a ng-click="" login-required required-keys="'active'" on-login-success="removePermission">Remove Posting Permission</a></li>
              <li ng-if="!hasPerm"><a ng-click="" login-required required-keys="'active'" on-login-success="grantPermission">Grant Posting Permission</a></li>
            </ul>
          </div>
        </div>
        <div class="pull-right">
          <button class="btn btn-primary" ng-click="" login-required on-login-success="save" ng-disabled="processing"><i class="fa fa-spin fa-spinner fa-circle-o-notch" ng-show="saving"></i> Save</button>
          <button class="btn btn-primary" ng-disabled="processing" ng-click="" login-required required-keys="'posting'" on-login-success="post">Post</button>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
