<nav-bar selected-tag="tag" selected-section="'filters'"></nav-bar>
<div class="app-container keep-pos" scrolled-bottom="reachedBottom()" id="content-main">
  <div class="app-content posts-page">
    <side-tag-list selected-filter="filter" selected-tag="tag"></side-tag-list>
    <div class="post-list" ng-class="{'fetching': loadingPosts}">
      <header>
        <h1>{{ filterKey | translate }}<span ng-if="tag">: {{ tagTitle }} <a ng-click="removeTag()" class="btn btn-xs btn-link btn-remove-tag" title="{{ ('Remove Tag' | __) + ' \'' + tagTitle + '\''  }}"><i class="fa fa-times"></i></a></span> </h1>
        <div class="pull-right">
          <button class="btn btn-sm btn-default btn-reload" ng-click="reload()" ng-disabled="loadingPosts" title="{{ 'Reload' | __ }}"><i class="fa fa-refresh"></i></button>
          <toggle-list-style></toggle-list-style>
        </div>
      </header>
      <content-list-loading-item item-size="6" ng-if="loadingPosts && posts.length === 0"></content-list-loading-item>
      <ul class="feed" ng-class="{'card-view': $root.listStyle == 2}">
        <li ng-repeat="post in posts">
          <post-list-item post="post"></post-list-item>
        </li>
      </ul>
      <div class="empty-list" ng-if="posts.length === 0 && !loadingPosts">
        {{ 'EMPTY_LIST' | __ }}
      </div>
      <footer>
        <i class="fa fa-spin fa-spinner fa-circle-o-notch" ng-show="loadingPosts"></i>
      </footer>
    </div>
  </div>
</div>
<app-footer></app-footer>
