<nav-bar selected-section="'filters'" ng-if="!$root.readMode"></nav-bar>
<div class="app-container keep-pos" id="content-main">
  <div class="app-content post-page">
    <div class="indicator post-indicator" ng-show="loadingPost">
      <i class="fa fa-spin fa-spinner fa-circle-o-notch"></i>
    </div>
    <div class="the-post" ng-if="!loadingPost"
         ng-class="{'fetching': loadingPost || loadingRest}">
      <div class="comment-post-header" ng-if="isComment">
        <div class="comment-post-header-title"> RE: {{ post.root_title }}</div>
        <div class="comment-post-header-info">{{ 'COMMENT_POST_INFO' | __ }}</div>
        <p> {{ post.root_title }}</p>
        <ul class="comment-post-header-opts">
          <li><a ng-click="goRoot()">{{ 'COMMENT_POST_VIEW_ROOT' | __ }}</a></li>
          <li ng-hide="hideParentLink"><a ng-click="goParent()">{{ 'COMMENT_POST_VIEW_PARENT' | __ }}</a></li>
        </ul>
      </div>
      <div class="post-header">
        <h1 class="post-title">{{ title }}</h1>
        <div class="post-info-bar">
          <div class="post-author-pic" author-bg-img-style author="{{ post.author }}"></div>
          <div class="post-info-right-side">
            <span class="post-author"><author-name author-data="author"></author-name></span>
            <span class="post-author-reputation">{{ post.author_reputation|authorReputation|number:0 }}</span>
            <span class="post-cat"><span>{{ 'IN' | translate }}</span> <a ng-click="parentClicked(parent_permlink)">{{ parent_permlink }}</a></span>
            <span class="post-date"><span
              title="{{ post.created|dateFormatted }}"> {{post.created|timeAgo}}</span></span>
          </div>
        </div>
        <div class="post-tools">
          <button class="btn btn-default btn-bookmark" login-required on-login-success="addBookmark()"
                  uib-tooltip="{{ 'BOOKMARK' | translate }}" ng-disabled="bookmarked">
            <i class="fa fa-bookmark-o" ng-if="!bookmarking && !bookmarked"></i>
            <i class="fa fa-bookmark" ng-if="bookmarked"></i>
            <i class="fa fa-spin fa-spinner fa-circle-o-notch" ng-show="bookmarking"></i>
          </button>
        </div>
      </div>
      <!-- <button class="btn btn-primary" ng-click="markdownHelperClicked()" ng-if="$root.showMarkdownResultHelper">Save
        Markdown Result to Test
      </button> -->
      <div class="post-body markdown-view selectable" ng-bind-html="body | markDown2Html"></div>
      <div class="post-footer">
        <div class="tag-list">
          <a ng-repeat="tag in tags" ng-click="tagClicked(tag)">{{ tag }}</a>
        </div>
        <div class="post-info-bar">
          <span class="post-date"><i class="fa fa-clock-o"></i> <span title="{{ post.created|dateFormatted }}"> {{post.created|timeAgo}}</span></span>
          <span class="post-author">{{ 'BY' | translate }} <author-name author-data="author"></author-name></span>
          <span class="post-author-reputation">{{ post.author_reputation|authorReputation|number:0 }}</span>
          <span class="post-app"><span class="via">{{ 'VIA' | __ }}</span> {{ app }}</span>
          <div class="post-interaction">
            <a class="post-leave-comment" ng-click="" login-required required-keys="'posting'" on-login-success="replyClicked()">{{ 'POST_REPLY' | __ }}</a>
            <span class="post-comment-count"><i class="fa fa-comments"></i> {{ post.children }}</span>
            <a class="post-reload" ng-click="refresh()" uib-tooltip="{{ 'POST_RELOAD' | __ }}"><i class="fa fa-refresh"></i></a>
            <a ng-click="editClicked()" ng-if="canEdit" class="post-edit"><i class="fa fa-pencil"></i> </a>
          </div>
        </div>
        <div class="post-voting">
          <div class="post-up-vote">
            <content-vote content="post"></content-vote>
          </div>
          <div class="post-total">
            <content-payout-info content="post"></content-payout-info>
          </div>
        </div>
        <div class="post-voters">
          <content-voters-info content="post"></content-voters-info>
        </div>
      </div>
      <comment-editor ng-if="commentFlag" content="post" mode="reply" on-cancel="onCommentEditorCanceled()" after-success="afterNewComment"></comment-editor>
      <div class="related-contents" ng-if="relatedContents.length === 3">
        <div class="related-contents-header">
          <h2 class="related-contents-title"><i class="fa fa-newspaper-o"></i> {{ 'Similar posts' | __ }}</h2>
          <a class="related-contents-reload" ng-click="loadSimilar()" ng-class="{'reloading': loadingRelatedContents}"><i class="fa fa-refresh"></i> </a>
        </div>
        <div ng-repeat="cont in relatedContents" class="related-content" ng-init="relatedImage = (cont | catchPostImage)"  ng-click="relatedClickedcont(cont)">
          <span class="related-content-title">{{ cont.title }}</span>
          <div class="related-content-image">
            <a class="post-image" ng-if="relatedImage">
              <img ng-src="{{ relatedImage }}" fallback-src="img/fallback.png">
            </a>
            <a class="post-image" ng-if="!relatedImage">
              <img ng-src="img/noimage.png">
            </a>
          </div>
          <div class="related-content-footer">
            <span class="related-content-author">{{ cont.author }}</span>
            <span class="related-content-date" title="{{ post.created|dateFormatted }}">{{cont.created|timeAgo}}</span>
            <span class="related-content-comment-count"><i class="fa fa-comments"></i> {{ cont.children }}</span>
          </div>
        </div>
      </div>
      <div class="indicator comments-indicator" ng-if="loadingRest">
        <i class="fa fa-spin fa-spinner fa-circle-o-notch"></i>
      </div>
      <div class="post-comment-list" ng-if="!loadingRest && commentsLength">
        <div class="comment-list-header">

          <div class="list-pagination">
            <span class="page-label">{{ 'COMMENTS_PAGE' | __ }}:</span>
            <span class="cur-page">{{ commentsCurPage }}</span><span
            class="total-pages">{{ commentsTotalPages }}</span>
            <a class="btn-prev" ng-class="{'disabled': !commentsHasPrev}" ng-click="commentsGoPrev()"><i
              class="fa fa-chevron-left"></i></a>
            <a class="btn-next" ng-class="{'disabled': !commentsHasNext}" ng-click="commentsGoNext()"><i
              class="fa fa-chevron-right"></i></a>
          </div>
          <div class="list-sorting">
            {{ 'COMMENT_SORT_ORDER' | __ }}: <select  ng-model="commentSorting.model" ng-change="commentSortFieldChanged()">
              <option ng-repeat="option in commentSorting.opts" value="{{option.value}}">{{option.name}}</option>
            </select>
          </div>
        </div>
        <comment-list comments="comments"></comment-list>
        <div class="comment-list-footer">
          <div class="list-pagination">
            <span class="page-label">{{ 'COMMENTS_PAGE' | __ }}:</span>
            <span class="cur-page">{{ commentsCurPage }}</span><span
            class="total-pages">{{ commentsTotalPages }}</span>
            <a class="btn-prev" ng-class="{'disabled': !commentsHasPrev}" ng-click="commentsGoPrev()"><i
              class="fa fa-chevron-left"></i></a>
            <a class="btn-next" ng-class="{'disabled': !commentsHasNext}" ng-click="commentsGoNext()"><i
              class="fa fa-chevron-right"></i></a>
          </div>
        </div>
      </div>
      <div class="post-comment-list-empty" ng-if="!loadingRest && !commentsLength">
        {{ 'NO_COMMENTS_YET' | __ }}
      </div>

      <post-floating-menu content="post" linked-el-selector="'.post-footer'"></post-floating-menu>
    </div>
  </div>
</div>
<app-footer  ng-if="!$root.readMode"></app-footer>
