<nav-bar></nav-bar>
<div class="app-container">
  <div class="app-content keep-pos" id="content-main">
    <div class="post-page">
      <div class="indicator">
        <i class="fa fa-spin fa-spinner fa-circle-o-notch" ng-show="loadingPost"></i>
      </div>
      <div class="the-post" ng-show="!loadingPost">
        <div class="post-header">
          <h1 class="post-title">{{ post.title }}</h1>

          <div class="post-author-left">
            <div class="post-author-pic">
              <img ng-src="https://steemitimages.com/u/{{ post.author }}/avatar/small">
            </div>
          </div>

          <div class="post-author-right">
            <span class="post-author-name"><a ng-click="authorClicked()">{{ post.author }}</a></span>
            <span class="post-author-reputation">{{ post.author_reputation|authorReputation|number:0 }}</span>
          </div>

          <div class="post-info">
            <span class="post-info-cat">
              <span>in</span>
              <a ng-click="parentClicked()">{{ post.parent_permlink }}</a>
            </span>
            <span class="post-info-date"><a ng-click="createdClicked()" title="{{ post.created|dateFormatted }}"> {{post.created|timeAgo}}</a></span>
          </div>

        </div>

        <div class="post-body" ng-bind-html="postBody"></div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
