<nav-bar></nav-bar>
<div class="app-container">
  <div class="app-content transfer-fn-page fn-power-down">
   <div class="fn-window">
     <nav class="navbar navbar-default fn-navbar">
       <div class="container-fluid">
         <div class="collapse navbar-collapse">
           <transfer-nav-bar></transfer-nav-bar>
         </div>
       </div>
     </nav>
     <div class="fn-form">
       <h1 class="form-header">{{ 'POWER_DOWN' | translate }}</h1>
       <hr>
       <div class="indicator" ng-if="fetchingAccount"><i class="fa fa-spin fa-spinner fa-circle-o-notch"></i></div>
       <div class="form-horizontal" ng-hide="fetchingAccount">
         <div class="form-group">
           <label for="transfer-account" class="col-sm-3 control-label">{{ 'ACCOUNT' | __ }}</label>
           <div class="col-sm-9">
             <select class="form-control" id="transfer-account" ng-model="accountName" ng-options="x for x in accountList" ng-change="fromChanged()"></select>
             <div class="alert alert-danger" style="margin-top: 5px" ng-if="keyRequiredErr">{{ 'ACTIVE_KEY_REQUIRED_TRANSFER' | __ }}</div>
           </div>
         </div>
         <div class="form-group">
           <label class="col-sm-3 control-label">{{ 'DESTINATION_ACCOUNTS' | __ }}</label>
           <div class="col-sm-9">
             <table class="table table-striped table-bordered table-routes" ng-if="withdrawRoutes.length > 0">
               <tbody>
               <tr ng-repeat="w in withdrawRoutes">
                 <th>{{ w.to_account }}</th>
                 <td>{{ w.percent/100 }}%</td>
                 <td><span ng-if="w.auto_vest">VEST</span><span ng-if="!w.auto_vest">STEEM</span></td>
                 <td><button class="btn btn-danger btn-sm" ng-disabled="deletingWithDrawAccount" login-required required-keys="'active'" on-login-success="deleteWithDrawAccount(w.to_account)" ng-click=""><i class="fa fa-trash"></i></button></td>
               </tr>
               </tbody>
             </table>
             <button class="btn btn-info btn-sm pull-left" login-required required-keys="'active'" on-login-success="addWithDrawAccountClicked()" ng-click=""><i class="fa fa-plus"></i> {{ 'ADD_WITHDRAW_ACCOUNT' | __ }}</button>
           </div>
         </div>
         <div class="form-group" ng-hide="isPoweringDown">
           <label class="col-sm-3 control-label">{{ 'AMOUNT' | translate }}</label>
           <div class="col-sm-9">
             <rzslider rz-slider-model="amountSlider.value" rz-slider-options="amountSlider.options"></rzslider>
             <p class="help-block text-center"><small>{{ 'DRAG_SLIDER' | __ }}</small></p>
             <div class="power-down-preview">
               <div class="before">
                 <span class="label label-danger">-{{ amountSp }} SP</span>
                 <span class="label label-default">-{{ amountVestFormatted }} VESTS</span>
               </div>
               <div class="arrow">
                 <i class="fa fa-arrow-down arrow-icon"></i>
               </div>
               <div class="after">
                 <span class="label label-success">+{{ steemPerWeek }} STEEM</span>
                 <br>
                 <small>{{ 'ESTIMATED_WEEKLY' | __ }}</small>
               </div>
             </div>
             <hr>
           </div>
         </div>
         <div class="form-group" ng-show="isPoweringDown">
           <label class="col-sm-3 control-label">{{ 'INCOMING_FUNDS' | __ }}</label>
           <div class="col-sm-9">
             <div class="incoming-funds">
               <span class="text-success steem">+{{ withdrawVesting2sp }} STEEM</span> <br>
               <span class="text-danger vests">–{{ withdrawVesting }} VESTS</span> <span class="text-muted power-down-date"> @ {{ nextPowerDown | dateFormatted }}</span>
             </div>
           </div>
         </div>
         <div class="form-group">
           <div class="col-sm-offset-3 col-sm-9 text-center">
             <button class="btn btn-primary" ng-if="!isPoweringDown" ng-disabled="!canStart() || processing" login-required required-keys="'active'" on-login-success="start()"><i class="fa fa-play-circle"></i> {{ 'START_POWER_DOWN' | __ }}</button>
             <button class="btn btn-danger" ng-if="isPoweringDown" ng-disabled="!canStop() || processing" login-required required-keys="'active'" on-login-success="stop()"><i class="fa fa-times"></i> {{ 'STOP_POWER_DOWN' | __ }}</button>
           </div>
         </div>
       </div>
     </div>
   </div>
  </div>
</div>
<app-footer></app-footer>

