<nav-bar></nav-bar>
<div class="app-container">
  <div class="app-content witnesses-page">
    <h1 class="page-title">Witness Voting</h1>
    <div class="indicator" ng-show="fetching">
      <i class="fa fa-spin fa-spinner fa-circle-o-notch"></i>
    </div>
    <div ng-hide="fetching || !proxy">
      <p>You have set a voting proxy. If you would like to re-enable manual voting, please clear your proxy.</p>
      <p>Your current proxy is: <strong>{{ proxy }}</strong></p>
      <div class="row">
        <div class="col-sm-6">
          <div class="input-group input-group-lg">
            <span class="input-group-addon">@</span>
            <input type="text" class="form-control" disabled value="{{ proxy }}">
            <span class="input-group-btn">
            <button class="btn btn-primary" type="button" ng-disabled="clearingProxy" login-required required-keys="'active,owner'" on-login-success="clearProxy()"><i class="fa fa-spin fa-spinner fa-circle-o-notch" ng-if="clearingProxy"></i> CLEAR PROXY</button>
          </span>
          </div>
        </div>
      </div>
    </div>
    <div ng-hide="fetching || proxy">
      <p>You have {{ remaining }} votes remaining. You can vote for a maximum of {{ max }} witnesses.</p>
      <table class="table table-striped table-bordered table-witnesses">
        <thead>
        <tr>
          <th style="width: 30px"></th>
          <th style="width: 30px"></th>
          <th style="width: 300px">Witness</th>
          <th>Information</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="witness in witnesses">
          <td>
            {{ witness.num }}
          </td>
          <td>
            <a class="btn-vote" ng-if="!userWitnessList.includes(witness.owner)" ng-click="" login-required required-keys="'active,owner'" on-login-success="vote(witness.owner)"><svg viewBox="0 0 1792 1980" xmlns="http://www.w3.org/2000/svg"><path d="M1683 1331l-166 165q-19 19-45 19t-45-19l-531-531-531 531q-19 19-45 19t-45-19l-166-165q-19-19-19-45.5t19-45.5l742-741q19-19 45-19t45 19l742 741q19 19 19 45.5t-19 45.5z"/></svg></a>
            <a class="btn-unvote" ng-if="userWitnessList.includes(witness.owner)" ng-click="" login-required required-keys="'active,owner'" on-login-success="unVote(witness.owner)"><svg viewBox="0 0 1792 1980" xmlns="http://www.w3.org/2000/svg"><path d="M1683 1331l-166 165q-19 19-45 19t-45-19l-531-531-531 531q-19 19-45 19t-45-19l-166-165q-19-19-19-45.5t19-45.5l742-741q19-19 45-19t45 19l742 741q19 19 19 45.5t-19 45.5z"/></svg></a>
          </td>
          <td>
            <div class="witness-owner">
              <div class="profile-image" author-bg-img-style author="{{  witness.owner  }}"></div>
              <a class="witness-link" ng-click="goOwner(witness.owner)">{{ witness.owner }}</a>
            </div>
          </td>
          <td>
            <a class="witness-thread" ng-click="goThread(witness.postPath)" ng-if="witness.postPath">witness thread</a>
            <a class="witness-thread" href="{{ witness.url }}" target="_external" ng-if="!witness.postPath">witness thread</a>
          </td>
        </tr>
        </tbody>
      </table>
      <p>If you would like to vote for a witness outside of the top 50, enter the account name below to cast a vote.</p>
      <div class="row extra-row">
        <div class="col-sm-6">
          <div class="input-group input-group-lg">
            <span class="input-group-addon">@</span>
            <input type="text" class="form-control" ng-model="extra">
            <span class="input-group-btn">
            <button class="btn btn-primary" type="button" login-required required-keys="'active,owner'" on-login-success="voteExtra()">VOTE</button>
          </span>
          </div>
          <table class="table table-striped table-bordered table-witnesses-extra" ng-hide="extraVotes().length==0">
            <tbody>
            <tr ng-repeat="witness in extraVotes()">
              <td style="width: 30px">
                <a class="btn-unvote" ng-click="" login-required required-keys="'active,owner'" on-login-success="unVote(witness)"><svg viewBox="0 0 1792 1980" xmlns="http://www.w3.org/2000/svg"><path d="M1683 1331l-166 165q-19 19-45 19t-45-19l-531-531-531 531q-19 19-45 19t-45-19l-166-165q-19-19-19-45.5t19-45.5l742-741q19-19 45-19t45 19l742 741q19 19 19 45.5t-19 45.5z"/></svg></a>
              </td>
              <td>{{ witness }}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <p>You can also choose a proxy that will vote for witnesses for you. This will reset your current witness selection.</p>
      <div class="row proxy-row">
        <div class="col-sm-6">
          <div class="input-group input-group-lg">
            <span class="input-group-addon">@</span>
            <input type="text" class="form-control" ng-model="newProxy">
            <span class="input-group-btn">
            <button class="btn btn-primary" type="button" ng-disabled="settingProxy" login-required required-keys="'active,owner'" on-login-success="setProxy()"><i class="fa fa-spin fa-spinner fa-circle-o-notch" ng-if="settingProxy"></i> SET PROXY</button>
          </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>

